body {
    background-color: rgba(0, 123, 255, 0.2);
}

.top {
    margin-top: 10px;
    float: left;
    margin-left: 10px;
    padding: 14px;
    position: relative;
    width: 95%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 7px;
}

.top-long {
    margin-top: 10px;
    float: left;
    margin-left: 10px;
    padding: 14px;
    position: relative;
    width: 95%;
    height: 130px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 7px;
}

#main {
    margin: 55px 0px 0px 0px;
}

table {
    font-size: small;
    background-color: white;
}

table th,
table td {
    vertical-align: middle !important;
    text-align: center;
    font-size: smaller;
    padding: 0.1rem !important;
}

table, td, th { 
    white-space: nowrap;
}

.hiddenRow {
    padding: 0 !important;
}

.vsTable tbody td:nth-child(3n-1) {
    border-left: 2px solid #bfb1b3;
}

.con {
    float: left;
    padding: 10px;
    position: relative;
    width: 100%;
    min-height: 650px;
    border-radius: 7px;
}

.bottom {
    margin-top: 20px;
    float: left;
    margin-left: 10px;
    padding: 15px;
    position: relative;
    width: 95%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 7px;
    overflow: auto;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.infoDiv {
    color: black;
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
    border: groove;
}

.infoLayer {
    overflow-y: scroll;
    height: 590px;
}

.infoLayer div {
    float: left;
    padding: 1px 0px 0px 0px;
}

.infoLayer2 div {
    float: left;
    padding: 1px;
}

.drawIcon {
    height: 19px;
}

.drawIcon35 {
    width: 35px;
    height: 35px;
}

.drawIcon45 {
    width: 45px;
    height: 45px;
}

.bold {
    font-weight: bold;
}

.width100p {
    width: 100%;
}

.width20p {
    width: 20%;
}

.width25p {
    width: 25%;
}

.width33p {
    width: 33%;
}

.width40p {
    width: 40%;
}

.width45p {
    width: 45%;
}

.parent {
    display: table;
    table-layout: fixed;
}

.child {
    display: table-cell;
}

.kda {
    font-weight: 400;
    letter-spacing: 0.5px;
}

.mapCard {
    background-color: #ffffff;
    margin-top: 10px;
    border-radius: 5px;
}

.shortText {
    width: 15%;
}

.longText {
    width: 82%;
}

#mostCharDetailDiv {
    width: 100%;
}

.card {
    border: 1px solid rgba(0, 123, 255, 0.2) !important;
}

#mostCharDetailDiv .card {
    width: 33%;
    background-color: white;
}

#positionDiv {
    float: left;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
    padding: 0 4px 0 0;
}
#positionDiv img {
    max-width: 100%;
}
#positionDiv > div {
    width: auto;
}
#positionDiv > div > div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0;
}
#positionDiv > div > div > div:first-of-type {
    flex: 2;
}
#positionDiv > div > div > div:last-of-type {
    flex: 5;
}
.mapCard .card {
    width: 50%;
}

.infoDiv .card {
    width: 25%;
    background-color: white;
}

.card-body {
    min-width: 64px;
}

.card div {
    padding: 0px;
}

#recentlyDivTitle span {
    margin-left: 5px;
}

.ACE {
    color: rgb(255, 0, 174);
    font-weight: bold;
}

.JOKER {
    color: rgb(129, 0, 184);
    font-weight: bold;
}

.GOLD {
    color: rgb(211, 144, 0);
    font-weight: bold;
}

.SILVER {
    color: rgb(159 159 159);
    font-weight: bold;
}

.BRONZE {
    color: rgb(129, 80, 24);
    font-weight: bold;
}

.UNRANK {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#statsMain {
    /* width: 1400px; */
    margin: 55px 0px 0px 0px;
}

.topNoheight {
    margin-top: 10px;
    float: left;
    padding: 15px;
    position: relative;
    /* width: 1400px; */
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 7px;
}

.conLayer {
    margin-top: 10px;
    float: left;
    padding: 15px;
    position: relative;
    /* width: 700px; */
    /* min-height: 750px; */
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 7px;
}

.conStats {
    margin-bottom: 10px;
    float: left;
    padding: 10px;
    position: relative;
    width: 100%;
    background-color: rgb(173 173 173 / 80%);
    border-radius: 7px;
}

.charImgSmall {
    width: 35px;    
}

.charImgLarge {
    width: 40px;
    height: 40px;
}

.floatLeft {
    float: left
}

.textLeft {
    text-align: left;
}

.secondChar {
    height: 29px;
}
.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}