.renewalBody {
    background: #f4f6f7;
}
.mainV2 {
    position: relative;
}
.sideNav {
    position: absolute;
    background: #fff;
    height: calc(100vh - 80px);
    padding: 40px 16px;
    color: #343a40;
    width: 247px;
    z-index: 1;
}
.sideNav h2 {
    color: #343a40;
    font-size: 18px;
    font-weight: bold;
    margin: 16px 0;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: start;
}
.sideNavToggleBtn {
    display: block;
    position: relative;
    margin: 0 0 0 auto;
    width: 32px;
    height: 32px;
    border: 0;
    border-radius: 4px;
    background: #e4e4e4;
}
.sideNavToggleBtn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("/image/arrowIcon.svg") center;
    background-size: cover;
    transform: rotate(270deg);
    scale: 0.8;
    filter: invert(25%);
    top: 0;
    left: 0;
    transition: 0.5s;
}
/*.closeSideNav span {*/
/*    position: absolute;*/
/*    width: 50%;*/
/*    height: 2px;*/
/*    background: #343a40;*/
/*    transform: translate(-50%,-50%);*/
/*    border-radius: 4px;*/
/*}*/
.closeSideNav span:nth-of-type(1) {
    top: 35%;
}
.closeSideNav span:nth-of-type(2) {
    top: 50%;
}
.closeSideNav span:nth-of-type(3) {
    top: 65%;
}
.inputWrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 32px 0 0 0;
}
.searchInputWrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.searchInputWrap > div {
    display: flex;
    height: 40px;
    position: relative;
}
.searchInputWrap > div > .searchBtn {
    width: 56px;
    height: 40px;
    border-radius: 8px;
    position: relative;
    cursor: auto;
    display: none;
}
.searchInputWrap > div > .searchBtn::before {
    content: "";
    position: absolute;
    background: url("/image/searchIcon_small.svg");
    background-size: cover;
    width: 24px;
    height: 24px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: invert(25%);
}
.searchInputWrap > div:has(.searchInput#nickNames) .searchBtn{
    background: rgba(224, 237, 255, 0.8);
    z-index: 10;
}
.searchInputWrap > div:has(.searchInput#nickNames2) .searchBtn{
    background: rgba(255, 235, 235, 0.8);
    z-index: 10;
}
.searchInputWrap > div:has(.searchInput)::before {
    content: "";
    position: absolute;
    background-image: url("/image/searchIcon_small.svg");
    background-size: cover;
    width: 24px;
    height: 24px;
    left: 28px;
    top: 50%;
    transform : translate(-50%, -50%);
    filter: invert(50%);
    z-index: 1;
    pointer-events : none;
}
.searchInput {
    height: 40px;
    border: 0;
    border-radius: 8px;
    padding: 0 0 0 56px;
    font-size: 14px;
    position: relative;
}
.searchInput#nickNames {
    background: rgba(224, 237, 255, 0.8);
}
.searchInput#nickNames:focus {
    outline: 2px solid rgba(103, 150, 217, 0.8);
}
.searchInput#nickNames2 {
    background: rgba(255, 235, 235, 0.8);
}
.searchInput#nickNames2:focus {
    outline: 2px solid rgba(236, 158, 158, 0.8);
}
/*.searchInput + button {*/
/*    position: absolute;*/
/*    left: 14px;*/
/*    top: 50%;*/
/*    transform: translateY(-50%);*/
/*    background-image: url("/image/searchIcon_small.svg");*/
/*    background-size: cover;*/
/*    filter: invert(25%);*/
/*    width: 22px;*/
/*    height: 22px;*/
/*    border: 0;*/
/*    background-color: transparent;*/
/*}*/
.gameModeCheck {
    display: flex;
    gap: 8px;
    border-radius: 8px;
    padding: 0 0 0 56px;
    position: relative;
    height: 40px;
}
.gameModeCheck > input {
    appearance: none;
    position: absolute;
    width: 56px;
    height: 40px;
    left: 0;
    cursor: pointer;
}
.gameModeCheck > input:checked + label {
    background: #343a40;
    color: #fff;
}
.gameModeCheck input.officialGameCheck::after {
    content: "";
    position: absolute;
    width: 11px;
    height: 11px;
    left: 36px;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    background: #343a40;
}
.gameModeCheck input.officialGameCheck::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 6px;
    border-radius: 2px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: #e4e4e4;
}
.gameModeCheck input.normalGameCheck::after {
    content: "";
    position: absolute;
    width: 11px;
    height: 11px;
    left: 20px;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    background: #343a40;
}
.gameModeCheck input.normalGameCheck::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 6px;
    border-radius: 4px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: #e4e4e4;
}
.gameModeCheck:has(.officialGameCheck:checked) .officialGameCheck {
    display: none;
}
.gameModeCheck:has(.normalGameCheck:checked) .normalGameCheck {
    display: none;
}
.gameModeCheck > label {
    position: relative;
    background: #fff;
    color: #343a40;
    font-size: 14px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    transition: 0.5s;
    border-radius: 8px;
}
.searchSettingCheck {
    display: flex;
    position: relative;
    cursor: pointer;
}
.searchSettingCheck > input {
    appearance: none;
    position: relative;
    width: 56px;
    height: 40px;
    aspect-ratio: 56 / 40;
    cursor: pointer;
    transition: background-color 0.5s;
    border-radius: 8px 0 0 8px;
}
.searchSettingCheck > input::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    filter: invert(0.25);
}
.searchSettingCheck > input:checked::before {
    filter: invert(1);
}
.searchSettingCheck > input:checked {
    background: #343a40;
    color: #fff;
}
.searchSettingCheck > input:checked + label {
    background: #343a40;
    color: #fff;
}
.iconBtn {
    position: relative;
    background: #fff;
    color: #343a40;
    font-size: 14px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    width: 100%;
    transition: 0.5s ease;
}
.recentBtn::before {
    background-image: url("/image/recentIcon.svg");
    background-size: cover;
    width: 20px;
    height: 20px;
}
.mostBtn::before {
    background-image: url("/image/mostIcon.svg");
    background-size: cover;
    width: 24px;
    height: 24px;
}
.positionBtn::before {
    background-image: url("/image/fistIcon.svg");
    background-size: cover;
    width: 19px;
    height: 19px;
}
.partyBtn::before {
    background-image: url("/image/partyIcon.svg");
    background-size: cover;
    width: 19px;
    height: 19px;
}
/*사이드바 토글*/
.sideNav.slim {
    width: 88px;
    transition: width 0.5s;
}
.sideNav.slim .sideNavToggleBtn::before {
    transform: rotate(90deg);
}
.sideNav.slim h2 {
    width: 56px;
    visibility: hidden;
}
.sideNav.slim .searchBtn {
    cursor: pointer;
}
.sideNav.slim .searchInput {
    position: absolute;
    left: 80px;
    width: 180px;
    padding: 0 0 0 8px;
    display: none;
}
.sideNav.slim .searchInput.active {
    display: block;
}
.sideNav.slim .gameModeCheck > label {
    position: absolute;
    left: 80px;
    width: 144px;
    display: none;
}
.sideNav.slim .gameModeCheck:hover > label {
    display: flex;
}
.sideNav.slim .searchSettingCheck > label {
    position: absolute;
    left: 80px;
    display: none;
    align-items: center;
    justify-content: center;
}
.sideNav.slim .searchSettingCheck:hover > label {
    display: flex;
}
.sideNav.slim .searchSettingCheck > input {
    border-radius: 8px;
}
.sideNav.slim .searchInputWrap > div > .searchBtn {
    display: block;
}
.sideNav.slim .iconBtn {
    border-radius: 8px;
    width: 144px;
    display: none;
}
.sideNav.slim .gameModeCheck:has(.officialGameCheck:checked) .normalGameCheck + label {
    display: none;
}
.sideNav.slim .gameModeCheck:has(.normalGameCheck:checked) .officialGameCheck + label {
    display: none;
}
.cardLayout {
    display: grid;
    padding: 8px;
    font-size: 12px;
    background: #fff;
}
.cardLayout > #defaultDiv {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    display: grid;
    gap: 4px;
}
.cardLayout > #defaultDiv > div {
}
.cardLayout .cardNameWrap {
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr));
}
.cardLayout .playParty {
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr));
}
.cardLayout .cardNameWrap > span {

}
.fullFr {
    grid-column: span 12 !important;
}
.halfFr {
    grid-column: span 6 !important;
}
.quarterFr {
    grid-column: span 3 !important;
}
.quadrupleFr {
    grid-column: span 4 !important;
}
.doubleFr {
    grid-column: span 2 !important;
}
.singleFr {
    grid-column: span 1 !important;
}
.positionDiv {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    display: grid;
    gap: 4px;
    margin: 4px 0;
}
.positionWrap {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 4px;
}
.positionWrap .positionWrapImg img{
    width: 100%;
    height: 100%;
}
.positionWrap .positionWrapText {

}
.mostWrap > div {
    display: flex;
    margin: 4px 0 0 0;
}
.mostTitle {
}
.mostCharItem {
    display: flex;
    gap: 4px;
}
/*grid-column-start: 1;*/
/*grid-column-end: 3;*/