@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

.renewalBody {
    background: #f4f6f7;
    position: relative;
    min-height: calc(100vh);
    font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.renewalBody main {
    position: relative;
    padding: 0 88px;
    margin: 40px 0 0 0;

}
.mainInner {
    width: 85% !important;
    max-width: 1920px;
    min-width: 1440px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 20px 20px 20px;
    position: relative;
}
.userDetailBody .mainInner {
    width: 70% !important;
    max-width: 1920px;
    min-width: 1200px;
}
.renewalBody .mainInner {
    /*min-width: 0;*/
}
.mainInner .leftBanner {
    position: absolute;
    left: 100%;
    top: 0;
    margin: 0 0 0 12px;
    float: none;
}
.sideNav {
    position: absolute;
    background: #fff;
    width: 216px;
    height: 100%;
    padding: 120px 16px 40px 16px;
    color: #343a40;
    z-index: 1;
    top: 0;
    left: 0;
    box-shadow: 0 0 4px #ccc;
}
.sideNav h2 {
    color: #343a40;
    font-size: 18px;
    line-height: 40px;
    font-weight: bold;
    margin: 8px 0;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: start;
}
.sideNavToggleBtn {
    display: block;
    position: relative;
    margin: 0 0 0 auto;
    width: 32px;
    height: 32px;
    border: 0;
    border-radius: 4px;
    background: #e4e4e4;
}
.sideNavToggleBtn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("/image/arrowIcon.svg") center;
    background-size: cover;
    transform: rotate(270deg);
    scale: 0.8;
    filter: invert(25%);
    top: 0;
    left: 0;
    transition: 0.5s;
}
/*.closeSideNav span {*/
/*    position: absolute;*/
/*    width: 50%;*/
/*    height: 2px;*/
/*    background: #343a40;*/
/*    transform: translate(-50%,-50%);*/
/*    border-radius: 4px;*/
/*}*/
.closeSideNav span:nth-of-type(1) {
    top: 35%;
}
.closeSideNav span:nth-of-type(2) {
    top: 50%;
}
.closeSideNav span:nth-of-type(3) {
    top: 65%;
}
div:has(> .inputWrap) {
    margin: 56px 0 0 0;
}
.inputWrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.searchInputWrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.searchInputWrap > div {
    display: flex;
    height: 40px;
    position: relative;
}
.searchInputWrap > div > .searchBtn {
    width: 56px;
    height: 40px;
    border-radius: 8px;
    position: relative;
    cursor: auto;
    display: none;
}
.searchInputWrap > div > .searchBtn::before {
    content: "";
    position: absolute;
    background: url("/image/searchIcon_small.svg");
    background-size: cover;
    width: 24px;
    height: 24px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: invert(25%);
}
.searchInputWrap > div:has(.searchInput#nickNames) .searchBtn{
    background: rgba(224, 237, 255, 0.8);
    z-index: 10;
}
.searchInputWrap > div:has(.searchInput#nickNames2) .searchBtn{
    background: rgba(255, 235, 235, 0.8);
    z-index: 10;
}
.searchInputWrap > div:has(.searchInput)::before {
    content: "";
    position: absolute;
    background-image: url("/image/searchIcon_small.svg");
    background-size: cover;
    width: 24px;
    height: 24px;
    left: 28px;
    top: 50%;
    transform : translate(-50%, -50%);
    filter: invert(50%);
    z-index: 1;
    pointer-events : none;
}
.searchInput {
    position: relative;
    width: 100%;
    max-width: 215px;
    height: 40px;
    border: 0;
    border-radius: 8px;
    padding: 0 0 0 56px;
    font-size: 14px;
}
.searchInput#nickNames {
    background: rgba(224, 237, 255, 0.8);
}
.searchInput#nickNames:focus {
    outline: 2px solid rgba(103, 150, 217, 0.8);
}
.searchInput#nickNames2 {
    background: rgba(255, 235, 235, 0.8);
}
.searchInput#nickNames2:focus {
    outline: 2px solid rgba(236, 158, 158, 0.8);
}
/*.searchInput + button {*/
/*    position: absolute;*/
/*    left: 14px;*/
/*    top: 50%;*/
/*    transform: translateY(-50%);*/
/*    background-image: url("/image/searchIcon_small.svg");*/
/*    background-size: cover;*/
/*    filter: invert(25%);*/
/*    width: 22px;*/
/*    height: 22px;*/
/*    border: 0;*/
/*    background-color: transparent;*/
/*}*/
.gameModeCheck {
    display: flex;
    gap: 8px;
    border-radius: 8px;
    padding: 0 0 0 56px;
    position: relative;
    height: 40px;
}
.gameModeCheck > input {
    appearance: none;
    position: absolute;
    width: 56px;
    height: 40px;
    left: 0;
    cursor: pointer;
}
.gameModeCheck > input:checked + label {
    background: #343a40;
    color: #fff;
}
.gameModeCheck input.officialGameCheck::after {
    content: "";
    position: absolute;
    width: 11px;
    height: 11px;
    left: 36px;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    background: #343a40;
}
.gameModeCheck input.officialGameCheck::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 6px;
    border-radius: 2px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: #e4e4e4;
}
.gameModeCheck input.normalGameCheck::after {
    content: "";
    position: absolute;
    width: 11px;
    height: 11px;
    left: 20px;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    background: #343a40;
}
.gameModeCheck input.normalGameCheck::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 6px;
    border-radius: 4px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: #e4e4e4;
}
.gameModeCheck:has(.officialGameCheck:checked) .officialGameCheck {
    display: none;
}
.gameModeCheck:has(.normalGameCheck:checked) .normalGameCheck {
    display: none;
}
.gameModeCheck > label {
    position: relative;
    background: #fff;
    color: #343a40;
    font-size: 14px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    transition: 0.5s;
    border-radius: 8px;
}
.searchSettingCheck {
    display: flex;
    position: relative;
    cursor: pointer;
}
.searchSettingCheck > input {
    appearance: none;
    position: relative;
    width: 56px;
    height: 40px;
    aspect-ratio: 56 / 40;
    cursor: pointer;
    transition: background-color 0.5s;
    border-radius: 8px 0 0 8px;
}
.searchSettingCheck > input::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    filter: invert(0.25);
}
.searchSettingCheck > input:checked::before {
    filter: invert(1);
}
.searchSettingCheck > input:checked {
    background: #343a40;
    color: #fff;
}
.searchSettingCheck > input:checked + label {
    background: #343a40;
    color: #fff;
}
.iconBtn {
    position: relative;
    background: #fff;
    color: #343a40;
    font-size: 14px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    width: 100%;
    transition: 0.5s ease;
}
.recentBtn::before {
    background-image: url("/image/recentIcon.svg");
    background-size: cover;
    width: 20px;
    height: 20px;
}
.mostBtn::before {
    background-image: url("/image/mostIcon.svg");
    background-size: cover;
    width: 24px;
    height: 24px;
}
.positionBtn::before {
    background-image: url("/image/fistIcon.svg");
    background-size: cover;
    width: 19px;
    height: 19px;
}
.partyBtn::before {
    background-image: url("/image/partyIcon.svg");
    background-size: cover;
    width: 19px;
    height: 19px;
}
/*사이드바 토글*/
.sideNav.slim {
    width: 88px;
    transition: width 0.5s;
}
.sideNav.slim .sideNavToggleBtn::before {
    transform: rotate(90deg);
}
.sideNav.slim h2 {
    width: 56px;
    visibility: hidden;
}
.sideNav.slim .searchBtn {
    cursor: pointer;
}
.sideNav.slim .searchInput {
    position: absolute;
    left: 80px;
    width: 184px;
    padding: 0 0 0 8px;
    display: none;
}
.sideNav.slim .searchInput.active {
    display: block;
}
.sideNav.slim .gameModeCheck > label {
    position: absolute;
    left: 80px;
    width: 144px;
    display: none;
}
.sideNav.slim .gameModeCheck:hover > label {
    display: flex;
}
.sideNav.slim .searchSettingCheck > label {
    position: absolute;
    left: 80px;
    display: none;
    align-items: center;
    justify-content: center;
}
.sideNav.slim .searchSettingCheck:hover > label {
    display: flex;
}
.sideNav.slim .searchSettingCheck > input {
    border-radius: 8px;
}
.sideNav.slim .searchInputWrap > div > .searchBtn {
    display: block;
}
.sideNav.slim .iconBtn {
    border-radius: 8px;
    width: 144px;
    display: none;
}
.sideNav.slim .gameModeCheck:has(.officialGameCheck:checked) .normalGameCheck + label {
    display: none;
}
.sideNav.slim .gameModeCheck:has(.normalGameCheck:checked) .officialGameCheck + label {
    display: none;
}
.cardLayout {
    position: relative;
    border: 0;
    margin: 0;
    height: auto;
    perspective: 2000px;
    background: transparent;
    width: auto;
}
.cardLayout .cardFront {
    backface-visibility: hidden;
    transition: transform 0.6s;
    overflow: hidden;
    flex: 1 1 auto;
    padding: 12px;
    font-size: 14px;
    background-color: #fff;
    background-size: contain;
    background-position-x: 50%;
    background-position-y: 0%;
    background-repeat: no-repeat;
    isolation: isolate;
    margin: 0;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 0 4px #888;
    position: relative;
}
.cardLayout .cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    background: #fff;
    border-radius: 5px;
    transform: rotateY(180deg);
    transition: transform 0.6s;
    box-shadow: 0 0 4px #ccc;
}
.cardLayout .cardBack::before {
    content: "";
    position: absolute;
    width: calc(100% - 24px);
    height: calc(100% - 24px);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #ccc; /* 하늘색 + 약간의 투명도 */
    background-image:
            linear-gradient(45deg, rgba(134, 177, 255, 0.5) 25%, transparent 25%),
            linear-gradient(-45deg, rgba(134, 177, 255, 0.5) 25%, transparent 25%),
            linear-gradient(45deg, transparent 75%, rgba(134, 177, 255, 0.5) 75%),
            linear-gradient(-45deg, transparent 75%, rgba(134, 177, 255, 0.5) 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0;
}
#con1_2 .cardLayout .cardBack::before {
    background-color: #86b1ff80; /* 하늘색 + 약간의 투명도 */
    background-image:
            linear-gradient(45deg, rgba(134, 177, 255, 0.5) 25%, transparent 25%),
            linear-gradient(-45deg, rgba(134, 177, 255, 0.5) 25%, transparent 25%),
            linear-gradient(45deg, transparent 75%, rgba(134, 177, 255, 0.5) 75%),
            linear-gradient(-45deg, transparent 75%, rgba(134, 177, 255, 0.5) 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0;
}
#con2_2 .cardLayout .cardBack::before {
    background-color: #ffe5e5; /* 밝은 핑크색 배경 */
    background-image:
            linear-gradient(45deg, rgba(255, 200, 200, 0.8) 25%, transparent 25%),
            linear-gradient(-45deg, rgba(255, 200, 200, 0.8) 25%, transparent 25%),
            linear-gradient(45deg, transparent 75%, rgba(255, 200, 200, 0.8) 75%),
            linear-gradient(-45deg, transparent 75%, rgba(255, 200, 200, 0.8) 75%);
    background-size: 20px 20px; /* 체크 사이즈는 그대로 20px 유지 */
    background-position: 0 0, 0 10px, 10px -10px, -10px 0; /* 원래의 체크 위치 유지 */
}
.cardLayout.isFlipped {
    /*transform: rotateY(180deg);*/
}
.cardLayout.isFlipped .cardFront {
    transform: rotateY(180deg);
}
.cardLayout.isFlipped .cardBack {
    transform: rotateY(360deg);
}

.cardLayout:has(.ACE) .cardFront{
    box-shadow: 0 0 4px rgb(255, 0, 174);
    background-image: url("/image/aceEmblem.svg");

}
.cardLayout:has(.JOKER) .cardFront{
    box-shadow: 0 0 4px rgb(129, 0, 184);
    /*background-image: url("/image/cuteJokerIcon.png");*/
}
.cardLayout:has(.DIAMOND) .cardFront{
    box-shadow: 0 0 4px rgb(35, 185, 255);
}
.cardLayout:has(.GOLD) .cardFront{
    box-shadow: 0 0 4px rgb(211, 144, 0);
}
.cardLayout:has(.SILVER) .cardFront{
    box-shadow: 0 0 4px rgb(159 159 159);
}
.cardLayout:has(.BRONZE) .cardFront{
    box-shadow: 0 0 4px rgb(129, 80, 24);
}
.cardLayout hr {
    margin: 8px 0;
}
.cardLayout .cardGrade a {
    color: #343a40;
    position: absolute;
    margin: 0 0 0 4px;
}
.cardLayout .overlay {
    background: #333;
    opacity: 0.8;
    position: absolute;
    transform: rotate(25deg) translateY(-50%);
    mix-blend-mode: overlay;
    filter: blur(15px);
    pointer-events: none;
    width: 40%;
    height: 100%;
    border: 1px solid;
    top: 50%;
    left: -100%;
    z-index: -1;
    transform-origin: top;
    /*display: none;*/
}
.cardLayout:has(.ACE) .overlay {
    animation: light-flow 4s infinite;
}
@keyframes light-flow {
    0% {
        left: -100%;
    }
    60% {
        left: 100%;
    }
    100% {
        left: 100%;
    }
}
.cardLayout .cardHeader {
    display: flex;
}
.cardLayout .cardHeader > div {
    flex: 1;
}
.cardLayout .cardHeader .infoDefalut {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.cardUserName {
    position: relative;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
}
.cardUserName a {
    position: absolute;
    scale: 0.7;
}
.cardLayout .cardHeader .cardTier {
    font-size: 18px;
}
.positionWinrate {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    display: grid;
    gap: 4px;
    margin: 4px 0;
    float: none;
}
.positionWinrate > div > div > div {
    display: flex;
    align-items: center;
}
.positionWrap {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 4px;
}
.positionWrap .positionWrapImg {
    aspect-ratio: 1;
}
.positionWrap .positionWrapImg img{
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    display: block;
}
.positionWrap .positionWrapText {
    display: flex;
    align-items: center;
}
.mostWrap {
    margin: 4px 0
}
.mostCharItem {
    display: grid;
    margin: 8px 0 0 0;
    gap: 4px;
    grid-template-columns: repeat(6, minmax(0, 1fr));
}
.mostWrap img {
    display: block;
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 0;
}
.mostWinrate {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 4px 0;
}
.mostWinrate small {
    margin: 4px 0 0 0;
}
.mostCharItem > div {
    background: #eee;
}
.mostCharItem > div.empty {
    position: relative;
    color: transparent;
    opacity: 1;
    pointer-events: none;
    user-select: none;
}
.mostCharItem > div.empty::before {
    content: '';
    position: absolute;
    inset: 0;
    background: inherit; /* 배경색 유지 */
    z-index: 1;
}
.recentGame {
    display: grid;
    grid-template-columns: 60px repeat(11, minmax(0, 1fr));
    margin: 8px 0 0 0;
}
.recentGame:has(> span:nth-of-type(10)) {
    justify-content: space-between;
}
.recentGame > span {
    margin: 0 !important;
}
.recentGame > a {
    display: block;
    margin: 0 0 0 -4px;
}
.cardBackground {
    background: transparent;
    max-width: none;
    display: flex;
    align-items: center;
}
.cardHeaderWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px 0 0 0;
}
.cardNameWrap {
}
.cardWrapper {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 8px;
    width: 100%;
}
.playPartyWrap {
    display: flex;
    justify-content: center;
}
.playPartyLayer {
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 0 0 0 4px;
}
.playPartyLayer > div > b {
    margin: 0 8px 0 0;
}
.playPartyLayer > div > span {
    display: inline-block;
    text-align: right;
}
.playPartyLayer dialog {
    border: 1px solid;
}
.playWinRate {
    margin: 0 0 4px 0;
}
.winrateWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex: 1;
}
.winrateWrap .winrate {
    font-size: 20px;
}
.cardGrade {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    top: 0;
    left: 0;
    font-size: 16px;
    line-height: 24px;
    gap: 4px;
}
.cardGrade > div {
    flex: 1;
}
.cardGrade > div:first-of-type {
    text-align: right;
}
.cardGrade > div:last-of-type {
    text-align: left;
}
.tierName {
    margin-left: auto;
}
.defaultSlotWrapper {
    flex: 1 1 auto;
    margin: 0;
    border: none;
    /*height: 100%;*/
    min-height: 406px;
    float: none;
}
.defaultSlot {
    height: 100%;
}
.beforeSeason {
    display: flex;
    align-items: center;
}
.beforeSeason a {
    display: block;
    width: 16px;
    height: 16px;
    /*background: url("/image/chartIcon6.svg") center;*/
    background-size: cover;
}
.beforeSeason a i {
    display: block;
}
div:has(> .beforeSeason) {
    display: flex;
}
.renewalTopHistory {
    display: flex;
    width: max-content;
    height: 32px;
    align-items: center;
    background: #fff;
    border-radius: 5px;
}
.renewalTopHistory > span {
    text-align: center;
    margin: 0 16px;
}
.partyInfoButton {
    background: transparent;
}
.cardModal {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    top: 0px;
    z-index: 2;
    border-radius: 5px;
    padding: 4px;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px); /* Safari */
    background-color: rgba(25, 25, 25, 0.3);
    display: none;
}
.cardModalInner {
    position: absolute;
    background: #fff;
    width: calc(100% - 24px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cardModalInner table {
    margin: 0;
}
.cardModalInner table thead th {
    background-color: #eee !important;
    color: #343a40 !important;
    border: 0;
}
.cardModalInner table a {
    word-break: keep-all;
}
.cardModalInner .row {
    margin: 0;
}
.cardModalInner .row > div {
    width: 100%;
}
.cardModalClose {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 32px;
    top: 100%;
    left: 0;
    background: #343a40;
    color: #fff;
    border: 0;
}
.partyButtonWrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.partyButtonWrap > button {
    flex: 1;
    min-height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #343a40;
    position: relative;
}
.partyButtonWrap > button:not(:last-of-type):not(.active)::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 40%;
    background: #ccc;
    right: 0;
    top: 30%;
}
.partyButtonWrap > button.active {
    background: #343a40;
    color: #fff;
}
.partyTable.active {
    display: block;
}
.modalPartyInfo {
    display: flex;
    gap: 4px;
    padding: 4px 0;
}
.modalPartyInfo > div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalPartyInfo > div:nth-of-type(1) {
    flex-direction: column;
    text-align: center;
}
.modalPartyInfo > div:nth-of-type(1) .winRate{
    font-size: 20px;
}
.modalPartyInfo > div:nth-of-type(2) {
    justify-content: start;
}

.renewalMainUserDetail {
    max-width: 1920px;
    min-width: 1440px;
}
.renewalDetailSearch {
    width: 80%;
    max-width: 1120px;
    margin: 40px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gameTypeWrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    background: #fff;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    border-left: 1px solid #ced4da;
    border-radius: 40px 0 0 40px !important;
    flex: 1;
    padding: 0 0 0 24px;
}
.gameTypeWrap::before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 40%;
    background: #ced4da;
}
.gameTypeShow {
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gameTypeShow > p {
    position: relative;
}
.gameTypeShow > p::before {
    content: "";
    position: absolute;
    left: calc(100% + 4px);
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #343a40; /* 아래 방향 화살표 */
}
.gameTypeSelect {
    position: absolute;
    top: calc(100% + 1px);
    left: 24px;
    width: calc(100% - 24px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 3px #ced4da;
    z-index: 10;
}
.gameTypeSelect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    border: 0;
}
.gameTypeSelect > div > input {
    display: none;
}
.gameTypeSelect > div > label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 12px 0;
    background: #fff;
    cursor: pointer;
}
.gameTypeSelect > div > input:checked + label {
    background: #343a40;
    color: #fff;
}
.gameTypeSelect > div > label::before {
    display: none;
}
.detailSearchInputWrap > input[type="text"] {
    position: relative;
    height: 48px;
    border-radius: 0 40px 40px 0 !important;
    display: block;
    padding: 0 24px;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
    border-left: 0;
}
.detailSearchInputWrap {
    flex: 6;
}
.detailSearchInputWrap > input[type="text"]:focus {
    box-shadow: none;
}
.mainDetail {
    background: transparent;
}
.searchButtonWrap {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
}
.searchButton {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-image: url("/image/searchIcon_small.svg");
    z-index: 10;
    opacity: 0.75;
}
.userDetailBody .renewalTopHistory {
    margin: 0 auto;
}
.renewalDetailHistory {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    width: calc(100% - 48px);
    z-index: 1;
    box-shadow: 0 0 3px #ced4da;
}
.deleteHistroyButton {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("/image/deleteIcon.svg");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(0.25);
}
.recentSearch {
    background: #343a40;
    color: #fff;
    padding: 12px 24px;
}
.detailHistory {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, auto));
    gap: 4px;
    min-height: 40px;
}
.historyItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 24px;
    color: #343a40;
}
.historyItem a {
    color: #343a40;
}
.voiceOfCustomer {
    position: fixed;
    left: 100%;
    top: 100%;
    transform: translate(-100%, -100%);
    padding: 0 16px 60px 0;
}
.voiceOfCustomer > button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #343a40;
    background-image: url("/image/letterIcon.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}
.VOCBody {
    position: absolute;
    left: calc(100% - 16px);
    top: -16px;
    width: 320px;
    background: #fff;
    transform: translate(-100%, -100%);
    padding: 16px;
    transition: opacity 0.3s ease;
    display: none;
    opacity: 0;
    border-radius: 8px;
}
.VOCBody hr {
    margin: 12px 0;
}
.VOCBody.show {
    display: block;
    opacity: 1;
}
.VOCHeading {
    font-size: 20px;
    font-weight: 600;
    padding: 8px 0;
}
.VOCField {
    text-align: left;
    margin: 16px 0;
}
.VOCInput {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #ced4da;
    margin: 8px 0 0 0;
    padding: 8px;
}
.VOCTextarea {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #ced4da;
    margin: 8px 0 0 0;
    padding: 8px;
    resize: none;
}
.VOCSubmit {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background: #343a40;
    color: #fff;
}

/* 상세 - 분리 예정 */
.mainDetail {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    gap: 12px;
    border: 0;
    align-items: start;
    width: 100%;
    position: relative;
    float: none !important;
}
.mainDetail > section {
    background: #fff;
    border-radius: 8px;
    padding: 16px;
}
.mainDetail > section table {
    margin: 0;
}
.mainDetail > section div {
    float: none;
}
.mainDetail > section .defaultDiv {}
.mainDetail > section .defaultDiv h3 {
    font-size: 24px;
    font-weight: bold;
}
.mainDetail > section .defaultDiv .nickNameWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 8px;
    margin: 0 0 8px 0;
}
.mainDetail > section .defaultDiv .nickNameWrap > div span {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
}
.mainDetail > section .defaultDiv:has(.ACE) .nickNameWrap {
    background: linear-gradient(to left, rgb(255, 0, 174) 10%, transparent 70%);
    border-left: 4px solid rgb(255, 0, 174);
}

.mainDetail > section .defaultDiv:has(.JOKER) .nickNameWrap {
    background: linear-gradient(to left, rgb(129, 0, 184) 10%, transparent 70%);
    border-left: 4px solid rgb(129, 0, 184);
}

.mainDetail > section .defaultDiv:has(.DIAMOND) .nickNameWrap {
    background: linear-gradient(to left, rgb(35, 185, 255) 10%, transparent 70%);
    border-left: 4px solid rgb(35, 185, 255);
}

.mainDetail > section .defaultDiv:has(.GOLD) .nickNameWrap {
    background: linear-gradient(to left, rgb(235, 175, 60) 10%, transparent 70%);
    border-left: 4px solid rgb(235, 175, 60);
}

.mainDetail > section .defaultDiv:has(.SILVER) .nickNameWrap {
    background: linear-gradient(to left, rgb(159, 159, 159) 10%, transparent 70%);
    border-left: 4px solid rgb(159, 159, 159);
}

.mainDetail > section .defaultDiv:has(.BRONZE) .nickNameWrap {
    background: linear-gradient(to left, rgb(129, 80, 24) 10%, transparent 70%);
    border-left: 4px solid rgb(129, 80, 24);
}

.mainDetail > section .defaultDiv:has(.UNRANK) .nickNameWrap {
    background: linear-gradient(to left, rgb(0, 0, 0) 10%, transparent 70%);
    border-left: 4px solid rgb(0, 0, 0);
}
.mainDetail > section .defaultDiv .infoWrap {
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    padding: 8px 0;
}
.mainDetail > section .defaultDiv .infoWrap > div {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 0 0 64px;
    height: 24px;
}
.mainDetail > section .defaultDiv .infoWrap > div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 24px;
    border: 1px solid #ced4da;
    border-radius: 50px;
}
.mainDetail > section .defaultDiv .infoWrap > div.clanWrap::before {
    content: "클랜";
}
.mainDetail > section .defaultDiv .infoWrap > div.levelWrap::before {
    content: "급수";
}
.mainDetail > section .defaultDiv .infoWrap > div.RPWrap::before {
    content: "RP";
}
.mainDetail > section .defaultDiv .infoWrap > div.playGameWrap::before {
    content: "승률";
}
.mainDetail > section .defaultDiv .infoWrap > div.playParty::before {
    content: "파티";
}
.mainDetail > section .positionDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 8px 0;
    gap: 4px;
}
.mainDetail > section .positionDiv > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mainDetail > section .positionDiv > div > div {
    display: grid;
    grid-template-columns: 2fr 5fr;
    width: 100%;
    align-items: center;
}
.mainDetail > section .mostCharDiv {
    margin: 0 0 8px 0;
    padding: 8px 0;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
}
.mainDetail > section .mostCharDiv > div {
    padding: 0;
}
.mainDetail > section:nth-of-type(1) {
    position: sticky;
    top: 16px;
    grid-row: span 2
}
.mainDetail > section:nth-of-type(2) {
    position: sticky;
    top: 12px;
    align-self: start;
}
.mainDetail .defaultDiv {
    float: none;
    width: 100%;
}
.userDetailBody .conDetail {
    float: none;
    width: auto;
    margin: 0;
    min-height: auto;
}
.userDetailBody .conDetail > div {
    min-height: auto;
    max-height: none;
}
.userDetailBody .mostCharDiv {
    float: none;
}
.userDetailBody .mostCharDiv > .mostCharDetailDiv {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, auto));
    gap: 4px;
}
.userDetailBody .mostCharDiv > .mostCharDetailDiv {

}
.userDetailBody .mostCharDiv > .mostCharDetailDiv > div {
    border-radius: 0;
    border: 0;
}
.userDetailBody .mostCharDiv > .mostCharDetailDiv img {
    display: block;
    width: 90%;
    height: auto;
}
.userDetailBody .mostCharDiv > .mostCharDetailDiv > div {
    width: auto;
}
.userDetailBody .mostCharDiv > .mostCharDetailDiv > div > div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.userDetailBody .mostCharDiv > .mostCharDetailDiv > div > div > div {
    max-width: none;
    flex: none;
    width: auto;
}
.userDetailBody .mostCharDiv > .mostCharDetailDiv > div > div > div:last-of-type {
    flex: 1;
    text-align: center;
    position: relative;
}
.userDetailBody .mostCharDiv > .mostCharDetailDiv > div > div > div a {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}
.userDetailBody .playGameList {
    right: 16px;
    top: 16px;
    height: 100%;
    max-height: 1200px;
    padding: 0;
    float: none;
    background-color: white;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
}
.userDetailBody .playGameList > table > thead {
    position: sticky;
    top: 0;
    z-index: 1;
}
.userDetailBody .playGameList > table > thead th {
    font-weight: 400;
}
.userDetailBody .playGameList > table > tbody tr:nth-of-type(odd) {
    background: transparent;
}
.userDetailBody .playGameList > table > tbody > tr > td:first-of-type {
    position: relative;
    overflow: hidden;
}
.userDetailBody .playGameList > table > tbody > tr:has(.blue)> td:first-of-type::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 8px;
    height: 100%;
    background: linear-gradient(135deg, #0057B7 0%, #006DD9 100%);
}
.userDetailBody .playGameList > table > tbody > tr:has(.red)> td:first-of-type::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 8px;
    height: 100%;
    background: linear-gradient(135deg, #FF6B6B 0%, #FA8072 100%);
}
.userDetailBody .mainDetail2 > div {
    width: 100%;
    margin: 0;
    padding: 0;
}
.userDetailBody .moreDailyResultWrap table {
    table-layout: fixed;
    margin: 0 0 4px 0;
    border: 0;
}
.userDetailBody .moreDailyResultWrap table th {
    padding: 12px 0;
    font-size: 14px;
    font-weight: 400;
    background: #343a40;
    color: #fff;
}
.userDetailBody .moreDailyResultWrap table td {
    padding: 10px 0;
    font-size: 12px;
    background: #fff;
}
.userDetailBody .mainDetail2 .mostCharDetailDiv {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
    margin: 0 0 20px 0;
}
.userDetailBody .mainDetail2 .mostCharDetailDiv > div {
    width: auto;
}
.teamRate {
    position: relative;
    display: flex;
}
.infoWrap {
    position: relative;
    display: none;
}
.infoIcon {
    width: 16px;
    height: 16px;
    background-image: url("/image/infoIcon.svg");
    filter: inset(0.5);
    cursor: pointer;
    margin: 0 4px;
}
.infoIcon:hover + span {
    display: block;
}
.infoText {
    display: none;
    position: absolute;
    top: -8px;
    left: calc(100% + 8px);
    width: max-content;
    padding: 8px;
    border-radius: 4px;
    color: #fff;
    background-color: rgba(52, 58, 64, 0.9);
    z-index: 1;
    font-size: 14px;
    line-height: 1.5;
}
.infoText::after {
    content: "";
    position: absolute;
    top: 18px;
    left: -12px; /* 왼쪽에 붙일 때 */
    transform: translateY(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: transparent rgba(52, 58, 64, 0.9) transparent transparent;
}
.mapTabBtnWrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 4px;
}
.mapTabBtnWrap button {
    line-height: 40px;
}
.mapTabBtnWrap button.active {
    background: #343a40;
    color: #fff;
}
.mapCard .mapName {
    line-height: 40px;
}
.mapCard div {
    padding: 0;
}
.mapCard div img {
    display: block;
    width: auto;
    height: auto;
}
.mapCard .mapChar > div > div > div {
    align-items: center;
}
.mapCard .mapChar > div > div > div > div {
    width: auto;
    flex: none;
    justify-content: center;
    max-width: none;
}
.mapCard .mapChar > div > div > div > div:last-of-type {
    flex: 1;
    text-align: center;
}
.mapCard .mapChar > div > div > div > div:last-of-type a {
    position: absolute;
    margin: 0 0 0 4px;
}