/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.fullFr {
    grid-column: span 12 !important;
}
.halfFr {
    grid-column: span 6 !important;
}
.quarterFr {
    grid-column: span 3 !important;
}
.quadrupleFr {
    grid-column: span 4 !important;
}
.doubleFr {
    grid-column: span 2 !important;
}
.singleFr {
    grid-column: span 1 !important;
}
.line {
    border-top: 1px solid #ced4da;
    margin: 16px 0;
}
.inner {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
.content {
    width: 100% !important;
    position: relative;
    padding: 40px 0;
}
.inner .rightBanner {
    width: auto;
    position: absolute;
    float: none;
    top: 0;
    left: calc(100% + 20px);
    margin: 0;
}
.input-type-text {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}
.card-layout {
    border-bottom: 1px solid #ced4da;
    border-radius: 8px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 3px #ced4da;
}
.card-layout h3 {
    font-size: 22px;
    font-weight: bold;
    color: #222;
}