<!DOCTYPE html>
<html lang="ko">

<head>

    <%- include  ("../layout/head") %>
        <script type="text/javascript">
            $(document).ready(function() {
                callLoadingBar(false);

                $("#mainMenu").removeClass("active");
                //$("#combi").addClass("active");
            });

            function callLoadingBar(show) {
                if (show) {
                    $("#loadingbutton").show();
                    $("#searchButton").hide();
                } else {
                    $("#loadingbutton").hide();
                    $("#searchButton").show();
                }
            }

            function searchUser() {
                callLoadingBar(true);

                $.ajax({
                    async: true,
                    url: "/nodo/userNickname",
                    data: {
                        'nickname': $("#nickname").val(),
                    },
                    success: function(data) {
                        callLoadingBar(false);
                        $("#con1_2").empty();

                        if (data.resultCode != 200) {
                            alert(data.resultMsg);
                            return;
                        }
                        drawNicknames(data.row);
                    },
                    error: function(data) {
                        callLoadingBar(false);
                        alert("해당 정보가 없습니다.");
                        return;
                    }
                }).done(function() {
                    callLoadingBar(false);
                });
            }

            function searchUser() {
                callLoadingBar(true);
                const data = {
                    'nickname': $("#nickname").val()
                };

                ajaxCall("/nodo/userNickname", data, (result) => {
                    callLoadingBar(false);
                    $("#con1_2").empty();
                    drawNicknames(result.row);
                });
            }

            function hideNickname() {
                callLoadingBar(true);

                const data = {
                    "playerId": $("#playerId").val(),
                    "reason": $("#reason").val(),
                    "addNickName": $("#addNickName").val()
                };

                ajaxCall("/nodo/hiddenNickName", data, (result) => {
                    callLoadingBar(false);
                    $("#resultNicknames").empty().text(result.resultMsg[0].nicks);
                });
            }

            const drawNicknames = (list) => {
                $("#playerId").val(list[0].playerId);

                let divs = `<div><ul class="list-group">`;
                list.forEach(row => {
                    divs += `<li class="list-group-item"> 
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="check_${row.nickname}" checked>
                                    <label class="form-check-label" for="check_${row.nickname}">
                                        ${row.nickname}&nbsp;&nbsp;&nbsp;
                                        /${row.checkingDate}&nbsp;&nbsp;&nbsp;
                                        /${row.privateYn}
                                    </label>
                                </div>
                            </li>
                        `;
                });
                divs += '</li></div>';

                $("#con1_2").empty().append(divs);
            }
        </script>
</head>

<body class="body">
    <%- include  ("../layout/menu") %>

        <div id="main">

            <div id="con1" class="con">
                <h3>사용자명 </h3>
                <div class="input-group mb-3">
                    <input type="text" id="nickname" onKeyPress="if(event.keyCode == 13) { searchUser(); }" class="form-control" placeholder="닉네임" aria-label="닉네임" aria-describedby="searchButton">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="searchButton" onClick="searchUser();">검색</button>
                    </div>
                </div>

                <div class="input-group input-group-default mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">playerId</span>
                    </div>
                    <input type="text" id="playerId" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>

                <div class="input-group input-group-default mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">추가될닉네임</span>
                    </div>
                    <input type="text" id="addNickName" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>

                <div class="input-group input-group-default mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">사유</span>
                    </div>
                    <input type="text" id="reason" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="registButton" onClick="hideNickname();">등록</button>
                    </div>
                </div>

                <label id="resultNicknames" style="background-color: white;"> </label>
                <button id="loadingbutton" class="btn btn-primary" type="button" disabled>
                    <span class="spinner-border spinner-border-default" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
                <div id="con1_2" class="infoLayer" style="height:813px"> </div>
            </div>
        </div>

</body>

</html>