<!DOCTYPE html>
<html lang="ko">

<head>

    <%- include  ("../layout/head") %>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.0.3/js.cookie.js"></script>
        <script type="text/javascript">
            pageName = "pcUserSearch";

            var userData = {};

            $(document).ready(function() {
                let nickname = '<%=searchNickname%>';
                if (nickname != '') {
                    $("#nickNames").val(nickname);
                    search('nickNames', 'con1_2');
                }

                getCookie();
                $("#partyShow").on("change", () => checkVisibility("partyShow"));
                $("#positionShow").on("change", () => checkVisibility("positionShow"));
                $("#mostCharShow").on("change", () => checkVisibility("mostCharShow"));
                $("#recentShow").on("change", () => checkVisibility("recentShow"));
                $("#tackShow").on("change", () => tackUse());
                tackUse();

                resetGameType();
                $("input[name='gameType']").on("change", resetGameType);
            });

            function resetGameType() {
                let val = $("input[name='gameType']:checked").val();
                clearDiv('con1_2');
                clearDiv('con2_2');
                $(".gameTypeText").text(val == 'rating' ? '[공식전]' : '[일반전]');

                Cookies.set('gameType', val, {
                    expires: 7
                });
            }

            function getCookie() {
                setCheckbox('partyShow', Cookies.get('playParty'));
                setCheckbox('positionShow', Cookies.get('positionDiv'));
                setCheckbox('mostCharShow', Cookies.get('mostCharDiv'));
                setCheckbox('recentShow', Cookies.get('recentlyDiv'));
                setCheckbox('tackShow', Cookies.get('tackShow'));

                let gameType = Cookies.get('gameType');
                if (gameType == null || gameType == '') {
                    gameType = 'rating';
                }
                $(`input[name='gameType'][value='${gameType}']`).click();
            }

            function setCheckbox(id, checked) {
                checked = (checked == null || checked == 'true' || checked == true);
                const chkbox = $("input:checkbox[id='" + id + "']");
                chkbox.attr("checked", checked);
                chkbox.prop('checked', checked);
            }

            function checkVisibility(id) {
                console.log(id);
                const isShow = $("#" + id).is(":checked");
                setVisible(id, isShow);
                Cookies.set(id, isShow, {
                    expires: 7
                });
            }

            const visibleTackDiv = () => {
                if ($("#tackShow").is(":checked")) {
                    $("#mainUserSearch").css("width", "88%");
                    $(".top").css("width", "88%");
                    $("#con3").show();
                } else {
                    $("#mainUserSearch").css("width", "73%");
                    $(".top").css("width", "73%");
                    $("#con3").hide();
                }
            }

            const tackUse = () => {
                const checked = $("#tackShow").is(":checked");
                Cookies.set("tackShow", checked, {
                    expires: 30
                });

                visibleTackDiv();
                $(".con").css("width", checked ? "29%": "38%");

                //1. 고정을 사용하는 경우
                if (checked) {
                    let userList = [];
                    if (Cookies.get('tackUserList')) {
                        userList = Cookies.get('tackUserList').split(",");
                    }
                    userList.forEach(divId => {
                        const divItem = $("#" + divId);
                        if (!moveToTack(divId)) {
                            // 이미 존재하는 div인경우 가져와보고
                            // 존재하지 않는 경우 검색
                            let userNm = divId.split("_")[0];
                            $("#nickNames3").val(userNm);
                            search('nickNames3', 'con3_2');
                        }
                    });
                } else {
                    //2. 고정을 사용하지 않는 경우
                    Cookies.set("tackUserList", '', {
                        expires: 30
                    });
                    $("#con3_2").find(".infoDiv").each((index, item) => {
                        $(item).find(".tackRemove").hide();
                        $(item).find(".tack").show();
                        $("#con1_2").prepend(item);
                    });
                }
            };

            const addTackUser = (divId) => {
                updateTackCookie(divId, "add");
                visibleTackDiv();
                moveToTack(divId);
            }

            const removeTackUser = (divId) => {
                updateTackCookie(divId, "remove");
                $("#" + divId).remove();
            }

            const updateTackCookie = (divId, action) => {
                let userList = [];
                if (Cookies.get('tackUserList')) {
                    userList = Cookies.get('tackUserList').split(",");
                }

                const isShow = action == "add";
                const index = userList.indexOf(divId);
                if (action == "add") {
                    if (index < 0) {
                        userList.push(divId);
                    }
                } else if (action == "remove") {
                    if (index >= 0) {
                        userList.splice(index, 1);
                    }
                }

                setCheckbox("tackShow", isShow);
                Cookies.set("tackShow", isShow, {
                    expires: 30
                });
                Cookies.set("tackUserList", userList.join(","), {
                    expires: 30
                });
            }

            const moveToTack = (divId) => {
                const divItem = $("#" + divId);
                if (divItem.length != 0) {
                    divItem.find(".tackRemove").show();
                    divItem.find(".tack").hide();
                    $("#con3").find("#con3_2").prepend(divItem);
                }
                return divItem.length != 0;
            }

            function setVisible(classId, isShow) {
                let div = $("." + classId);
                isShow ? div.show() : div.hide();
            }

            function setUserInfo(gameType, divName, data) {
                let nickname = data.nickname;
                if (userData[nickname] == null) {
                    userData[nickname] = data;
                }

                var userDivId = getUserDivId(gameType, nickname);
                if ($("#" + userDivId).length != 0) {
                    return;
                }

                //기본 정보 
                var clone = $("#template").clone();
                clone.attr("id", userDivId);
                if (divName == "con2_2") {
                    clone.removeClass("infoDiv");
                    clone.addClass("infoDivRed");
                }

                defaultInfo(userDivId, gameType, clone, data, divName != "con3_2");

                var rows = data.matches.rows;
                //printChar(rows);

                //파티별
                drawPartyType(userDivId, clone.find("#playParty"), rows);

                //포지션별 
                drawPosition(clone, rows, data.nickname);

                //최근 10경기 결과
                drawRecently(clone, rows, userDivId);

                //자주하는 캐릭
                var userChar = extractChar(rows, sortCase);
                drawOften(clone, userChar, drawCharCardVer, nickname);

                clone.show();
                $("#" + divName).prepend(clone);
            }

            function defaultInfo(divId, gameType, clone, data, tackShow) {
                var rating = data.records.filter(game => game.gameTypeId == gameType)[0];
                var pov = ((rating.winCount * 100) / (rating.winCount + rating.loseCount)) || 0;
                let item = $(clone);

                item.find("#nickNameDiv").append(data.nickname);
                item.find("#nickNameDiv").append(` <a href='javascript:nickHistory("${data.playerId}");' ><i class='red fas fas fa-heading'></i></a>`);
                item.find("#levelDiv").text(data.grade + "급 ");
                item.find("#clanDiv").text(data.clanName);

                getTierColerName(item.find("#tierName"), data.tierName);
                if (data.ratingPoint != null) {
                    item.find("#currRP").text(data.ratingPoint);
                    item.find("#maxRP").text("(" + data.maxRatingPoint + ")");
                }
                item.find("#beforeSeason").append(`<a href='javascript:userSeasonRank("${data.playerId}", drawSeasonRank);' >전시즌</a>`);

                let tot = rating.winCount + rating.loseCount + rating.stopCount;
                item.find("#playGameDiv").text(`승률 : ${pov.toFixed(0)}% [${tot}전 ${rating.winCount}승 ${rating.loseCount}패 ${rating.stopCount}중단]`);
                item.find("#tack").on("click", () => addTackUser(divId));
                item.find(".tackRemove").on("click", () => removeTackUser(divId));
                if (tackShow) {
                    item.find(".tack").show();
                    item.find(".tackRemove").hide();
                } else {
                    item.find(".tack").hide();
                    item.find(".tackRemove").show();
                }

            }

            function drawSeasonRank(data) {
                if (data.length == 0) {
                    alert("전시즌 언랭");
                } else {
                    let rankText = data.map(row => `${row.season} ${row.rankNumber == '몰?루?' ? '몰?루?' : row.rankNumber}위 `).join("\n");
                    alert(rankText);
                }
            }

            function getTierColerName(span, tierName) {
                let name = tierName;
                if (name == null) {
                    name = "Unrank";
                }
                span.addClass(name);
                span.text(name);
            }

            function nickHistory(nickId) {
                historyNickname(nickId, showNickHistory);
            }

            function showNickHistory(data) {
                if (data.length == 0 || data.resultCode == -1) {
                    alert("수집된 닉변기록이 없습니다");
                    return;
                }

                let info = "";
                for (idx in data) {
                    let row = data[idx];
                    info += row.season + ", " + row.nickname + ", 체크일:" + row.checkingDate + "\n";
                }

                alert(info);
            }

            function drawCharCardVer(div, charInfo, nickname) {
                let modalId = `${nickname}_${charInfo.characterId}_modal`;
                var pov = ((charInfo.win * 100) / charInfo.count) || 0;
                let moreIcon = '<i class="fa fa-search-plus" style="font-size:15px;color:black;"></i>';
                let moreAlink = `<a href='#'  data-toggle="modal" data-target="#${modalId}" onClick="javascript:playGameList('${charInfo.characterId}', null, '${nickname}');">${moreIcon}</a>`;
                let cardText = `${pov.toFixed(0)}% ${moreAlink} <br/> <small class='text-muted'>${charInfo.win}승 ${charInfo.lose}패</small>`;

                var card = $(div).find("#cardTemp").clone();
                card.removeAttr("id");
                card.removeAttr("hidden");
                card.find(".col-md-5").append("<img src='https://img-api.neople.co.kr/cy/characters/" + charInfo.characterId + "' />");
                card.find(".card-text").empty().append(cardText);
                div.append(card);
            }

        </script>
</head>

<body class="body">
    <%- include  ("../layout/menu") %>

        <div id="mainUserSearch">

            <!-- 카카오 광고 -->
            <%- include  ("../layout/leftBanner") %>

                <div class="top" >
                    <div class="floatLeft width15p">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="gameType_rating" name="gameType" class="custom-control-input" value="rating" checked>
                            <label class="custom-control-label" for="gameType_rating">공식</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="gameType_normal" name="gameType" class="custom-control-input" value="normal" >
                          <label class="custom-control-label" for="gameType_normal">일반</label>
                        </div>
                    </div>

                    <div class="width85">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="positionShow" checked>
                            <label class="form-check-label" for="positionShow">포지션 노출</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="partyShow" checked>
                            <label class="form-check-label" for="partyShow">파티 노출</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="mostCharShow" checked>
                            <label class="form-check-label" for="mostCharShow">자주하는 캐릭 노출</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="recentShow" checked>
                            <label class="form-check-label" for="recentShow">최근 10게임 노출</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="tackShow" checked>
                            <label class="form-check-label" for="tackShow">고정탭 노출</label>
                        </div>
                    </div>
                </div>
                <div id="con1" class="con">
                    <h3>우리팀<span class="red gameTypeText"></span></h3>
                    <div class="input-group">
                        <input type="text" id="nickNames" class="form-control" placeholder="띄워쓰기로 검색 가능 ex) 마을주민1 마을주민2 마을주민3 ..." aria-label="띄워쓰기로 검색 가능 ex) 마을주민1 마을주민2 마을주민3 ..." aria-describedby="searchButton" onKeyPress="if(event.keyCode == 13) { search('nickNames', 'con1_2'); } ">
                        <div class="input-group-append" id="searchButton">
                            <button class="btn btn-outline-secondary" type="button" onClick="search('nickNames', 'con1_2');">검색</button>
                            <button class="btn btn-outline-secondary" type="button" onClick="clearDiv('con1_2');">초기화</button>
                        </div>
                    </div>
                    <div id="con1_2" class="infoLayer"> </div>
                </div>
                <div id="con2" class="con">
                    <h3>적팀<span class="red gameTypeText"></span></h3>
                    <div class="input-group">
                        <input type="text" id="nickNames2" class="form-control" placeholder="띄워쓰기로 검색 가능 ex) 마을주민1 마을주민2 마을주민3 ..." aria-label="띄워쓰기로 검색 가능 ex) 마을주민1 마을주민2 마을주민3 ..." aria-describedby="searchButton" onKeyPress="if(event.keyCode == 13) { search('nickNames2', 'con2_2'); } ">
                        <div class="input-group-append" id="searchButton">
                            <button class="btn btn-outline-secondary" type="button" onClick="search('nickNames2', 'con2_2');">검색</button>
                            <button class="btn btn-outline-secondary" type="button" onClick="clearDiv('con2_2');">초기화</button>
                        </div>
                    </div>
                    <div id="con2_2" class="infoLayer"></div>
                </div>

                <div id="con3" class="con">
                    <h3>고정<span class="red gameTypeText"></span></h3>
                    <div class="input-group" hidden>
                        <input type="text" id="nickNames3" class="form-control" placeholder="띄워쓰기로 검색 가능 ex) 마을주민1 마을주민2 마을주민3 ..." aria-label="띄워쓰기로 검색 가능 ex) 마을주민1 마을주민2 마을주민3 ..." aria-describedby="searchButton" onKeyPress="if(event.keyCode == 13) { search('nickNames3', 'con3_2'); } ">
                        <div class="input-group-append" id="searchButton">
                            <button class="btn btn-outline-secondary" type="button" onClick="search('nickNames3', 'con3_2');">검색</button>
                            <button class="btn btn-outline-secondary" type="button" onClick="clearDiv('con3_2');">초기화</button>
                        </div>
                    </div>
                    <div id="con3_2" style="height: 92%;" class="infoLayer"></div>
                </div>
        </div>


        <div id="template" class="infoDiv" style="display:none">
            <div id="defaultDiv">
                <!-- <div id="gameTypeDiv" class="red bold width100p"></div> -->
                <div class="nicknameLayer width100p">
                    <div id="nickNameDiv" class="nickNameDiv"> </div>
                    <div class="width45p">
                        <span id="levelDiv"></span>&nbsp;&nbsp;
                        <span id="clanDiv"></span>
                    </div>
                    <div class="width50p">
                        <span id="tierName"></span>&nbsp;
                        <span id="currRP" class="bold"></span>
                        <span id="maxRP"></span>
                        <span id="beforeSeason"></span>
                    </div>
                    <div class="tack">
                        <i id="tack" style="margin-right: 2px;font-size: 18px;" class="fas"></i>
                    </div>
                    <div class="tackRemove" style="display:none">
                        <i class='fas fa-window-close' style='font-size:18px;color:red'></i>
                    </div>

                </div>
                <div class="width100p">

                    <div id="playGameDiv"></div>

                </div>
                <div id="playParty" class="playParty width100p">

                </div>
            </div>

            <!-- 포지션별 승률 -->
            <div id="positionDiv" class="positionDiv">
                <div id="positionTanker" class="card">
                    <div class="row no-gutters">
                        <div class="col-md-5">
                            <img src="http://static.cyphers.co.kr/img/game_position/position1.jpg">
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <p id="tankerSpan" class="card-text">57% <br> <small class="text-muted">79승 60패</small></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="positionMelee" class="card">
                    <div class="row no-gutters">
                        <div class="col-md-5">
                            <img src="http://static.cyphers.co.kr/img/game_position/position2.jpg">
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <p id="meleeSpan" class="card-text">57% <br> <small class="text-muted">79승 60패</small></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="positionAd" class="card">
                    <div class="row no-gutters">
                        <div class="col-md-5">
                            <img src="http://static.cyphers.co.kr/img/game_position/position3.jpg">
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <p id="adSpan" class="card-text">57% <br> <small class="text-muted">79승 60패</small></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="positionSupp" class="card">
                    <div class="row no-gutters">
                        <div class="col-md-5">
                            <img src="http://static.cyphers.co.kr/img/game_position/position4.jpg">
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <p id="suppSpan" class="card-text"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 자주하는 캐릭-->
            <div id="mostCharDiv" class="mostCharDiv">
                <div id="mostCharTitleDiv" class="width100p">자주하는캐릭 TOP3</div>
                <div id="mostCharDetailDiv" class="mostCharDetailDiv">
                    <div id="cardTemp" class="card" hidden>
                        <div class="row no-gutters">
                            <div class="col-md-5">
                                <!-- <img src="https://img-api.neople.co.kr/cy/characters/5f4c4d6d332766ca219af12dfc41f124">-->
                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <p class="card-text">
                                        <!-- 57% <br> <small class="text-muted">79승 60패 </small>-->
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="recentlyDiv" class="width100p recentlyDiv">
                <div class="width100p" id="recentlyDivTitle">
                    <!--최근 10게임 -->
                </div>
            </div>
        </div>

        <div id="modalDiv">
            <!-- 매칭 리스트 -->
            <div id="templateModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="templateModalLabel">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="templateModalLabel">최근 10게임</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        </div>
                        <div class="modal-body modal-dialog-scrollable">
                            <table id="templateTable" class="table table-striped table-condensed">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">날짜</th>
                                        <th scope="col">파티</th>
                                        <th scope="col">결과</th>
                                        <th scope="col">P</th>
                                        <th scope="col">Char</th>
                                        <th scope="col">Lv</th>
                                        <th scope="col">KDA</th>
                                        <th scope="col">딜량</th>
                                        <th scope="col">피해량</th>
                                        <th scope="col">소모품%</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 매칭 상세 -->
        <div style="display:none">
            <table id="matchInfoTemplate" class="table table-striped table-condensed">
                <thead class="thead-light">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">C</th>
                        <th scope="col">P</th>
                        <th scope="col">buff</th>
                        <th scope="col">닉네임</th>
                        <th scope="col">Lv</th>
                        <th scope="col">KDA</th>
                        <th scope="col">킬</th>
                        <th scope="col">데스</th>
                        <th scope="col">도움</th>
                        <th scope="col">딜량</th>
                        <th scope="col">피해량</th>
                        <th scope="col">코인</th>
                        <th scope="col">소모품(%)</th>
                        <th scope="col"> </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
</body>

</html>