<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include  ("../layout/head") %>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script type="text/javascript">
            var myChart;

            $(document).ready(function() {
                $("input[type='text']").css("width", "15%");

                $("#mainMenu").removeClass("active");
                $("#userChart").addClass("active");

                const ctx = $("#myChart");
                myChart = new Chart(ctx, config);
                getChartDateLabel();
            });

            function userRankSearch() {
                let nickName = $("#nickNames").val();
                $("#nickNames").val("");

                searchUserRank(nickName, drawRank);
            }

            function getChartDateLabel() {
                $.ajax({
                    async: false,
                    url: "/rankChart/chartDate",
                    success: function(data) {
                        if (data.resultCode == -1) {
                            return;
                        }
                        drawRank('날짜축', data, true);
                    },
                    error: function(data) {
                        return;
                    }
                }).done(function() {

                });
            }

            function searchUserRank(nickName) {
                var result;
                $.ajax({
                    async: false,
                    url: "/rankChart/userRank",
                    data: {
                        'nickname': nickName,
                    },
                    success: function(data) {
                        if (data.resultCode == -1) {
                            alert(nickName + "님의 정보가 없습니다.");
                            return;
                        }
                        drawRank(nickName, data);
                    },
                    error: function(data) {
                        alert(nickName + "님의 정보가 없습니다.");
                        return;
                    }
                }).done(function() {

                });
                return result;
            }

            function drawRank(nickName, row, hide = false) {
                let dataset = {
                    label: nickName,
                    data: row,
                    hidden: hide,
                    fill: false,
                    borderColor: 'rgb(' + getRandomInt(0, 255) + ', ' + getRandomInt(0, 255) + ', ' + getRandomInt(0, 255) + ')',
                    tension: 0.1
                }
                addData(dataset);
            }

            function getRandomInt(min, max) {
                min = Math.ceil(min);
                max = Math.floor(max);
                return Math.floor(Math.random() * (max - min)) + min; //최댓값은 제외, 최솟값은 포함
            }

            function addData(data) {
                myChart.data.datasets.push(data);
                myChart.update();
            }

            const config = {
                type: 'line',
                //data: data,
                options: {
                    scales: {
                        yAxis: {
                            reverse: true,
                            min: 0,
                            //  max: 10000
                        }
                    }

                }
            };
        </script>
</head>

<body class="body">
    <%- include  ("../layout/menu") %>

        <div id="main">
            <div class="top">
                <input type="text" class="shortText" id="nickNames" onKeyPress="if(event.keyCode == 13) { userRankSearch(); } " placeholder="닉네임" />
                <input type="button" value="검색" onClick="userRankSearch();">
                <input type="button" value="초기화" onClick="clearDiv('con1_2');"></br>
                2건이상 검색시 차트가 망가지는 오류 수정 완료 (2022-03-17)
            </div>
            <div id="con1" class="con" style="width:98%">
                <h3>랭킹추이</h3>
                <div id="con1_2" class="table-responsive">
                    <canvas id="myChart" width="900" height="400"></canvas>
                </div>

            </div>
        </div>

</body>

</html>