<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include  ("../layout/head") %>
    <script src="/js/normalVsDraw.js" crossorigin="anonymous"></script>


        <script type="text/javascript">
            pageName = "pcVs";

            $(document).ready(function() {
                $("input[type='text']").css("width", "15%");

                $("#mainMenu").removeClass("active");
                $("#userVsMenu").addClass("active");
            })

            function userVsSearch() {
                if ($("#nickNames").val().trim() === '') {
                    alert("내 닉네임을 입력해주세요");
                    return;
                }

                if ($("#nickNames2").val().trim() === '') {
                    alert("상대방 닉네임을 입력해주세요");
                    return;
                }
                const gameType = $("input[name='gameType']:checked").val();
                var result = searchVsUser(gameType, $("#nickNames").val(), $("#nickNames2").val());

                if(gameType == 'rating') {
                    drawVs(result);
                }else {
                    drawVsNormal(result);
                }
                
            }

            function drawVs(result) {
                $(".conNormal").attr("style", "width:650px").removeAttr("class").attr("class", "con");
                $("#con1_2").empty();
                $("#con2_2").empty();

                drawTeam("con1_2", result.team);
                drawTeam("con2_2", result.enemy);
            }

            function drawTeam(divId, team) {
                $("#" + divId).append(
                    `<h4>승리: <span class='red'>${team.win}</span> 
                         패배: <span class='blue'>${team.lose}<span></h4>`);

                var clone = $("#templateTable").clone();
                clone.removeAttr("id");

                var body = clone.find("tbody");
                let moreIcon = '<i class="fa fa-search-plus" style="font-size:15px;color:black;"></i>';

                team.row.forEach(row => {
                    body.append(
                        `<tr>
                            <td>${row.date}</td>
                            <td><b>${winLoseKo(row.result)}</b></td>
                            ${drawInGameScore(row.my)}
                            ${drawInGameScore(row.you)}
                            <td onClick='searchMatch("${row.matchId}", drawMatchVs )'>${moreIcon}</td> 
                        </tr>`);
                });
                $("#" + divId).append(clone);
            }

            function drawInGameScore(data) {
                let score = `<td>${drawCharicter(data.charId)}</td>
                             <td class='kda'>${data.kill}/${data.death}/${data.assist}</td>
                             <td class='kda'>${(data.attack / 1000).toFixed(0)}k</td>`;
                return score;
            }

            function focusMove() {
                $("#nickNames2").focus();
            }

            function drawMatchVs(matchId, result) {
                let prefixMatchId = "m" + matchId;

                var data;
                if (result == null) {
                    $("#" + prefixMatchId + "Btn").click();
                    return;
                }

                if (typeof result == 'string') {
                    data = JSON.parse(result);
                } else {
                    data = result;
                }

                var body = $("#templateModal").clone();
                body.attr("id", prefixMatchId + "Modal");
                body.attr("aria-labelledby", prefixMatchId + "ModalLabel");
                body.find("#templateModalLabel")
                    .attr("id", prefixMatchId + "ModalLabel")
                    .text("매칭아이디:" + matchId);
                body.find("#matchInfoTemplate").attr("id", prefixMatchId + "div");
                var tbody = body.find("tbody");

                let winTeam = getTeam(data.teams, "win", data.players);
                let loseTeam = getTeam(data.teams, "lose", data.players);

                for (idx in winTeam) {
                    tbody.append(drawInGameDetail(matchId, winTeam[idx], "table-primary"));
                }
                for (idx in loseTeam) {
                    tbody.append(drawInGameDetail(matchId, loseTeam[idx], "table-danger"));
                }

                //클릭이벤트 설정용
                var btn = $(body).find("#matchBtn");
                btn.attr("id", prefixMatchId + "Btn");
                btn.attr("data-target", "#" + prefixMatchId + "Modal");
                $("#modalDiv").append(body);

                btn.click();
            }
        </script>
</head>

<body class="body">
    <%- include  ("../layout/menu") %>
        <div id="main" style="width:1530px">
            <div class="topUserVs width85">
                <div class="btn-group btn-group-toggle width10p floatLeft" data-toggle="buttons">
                    <label class="btn btn-light active">
                      <input type="radio" name="gameType" id="gameType_rating" value="rating" checked /> 공식
                    </label>
                    <label class="btn btn-light">
                        <input type="radio" name="gameType" id="gameType_normal" value="normal" /> 일반
                    </label>
                </div>

                <div class="width50p floatLeft input-group">
                    <input type="text" id="nickNames" class="shortText form-control" placeholder="나" aria-label="나" aria-describedby="searchButton" onKeyPress="if(event.keyCode == 13) {focusMove(); }">
                    <div class="input-group-prepend">
                        <span class="input-group-text">와</span>
                    </div>
                    <input type="text" id="nickNames2" class="form-control" placeholder="상대" aria-label="상대" aria-describedby="searchButton" onKeyPress="if(event.keyCode == 13) { userVsSearch(); }">
                    <div class="input-group-append" id="searchButton">
                        <button class="btn btn-outline-secondary" type="button" onClick="userVsSearch();">검색</button>
                    </div>
                </div>
            </div>
            <div id="con1" class="con" style="width:650px">
                <h3>같은팀으로 만나서</h3>
                <div id="con1_2" class="table-responsive">

                </div>

                <div style="display:none">
                    <table id="templateTable" class="vsTable table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">날짜</th>
                                <th scope="col">결과</th>
                                <th scope="col">나</th>
                                <th scope="col">KDA</th>
                                <th scope="col">딜</th>
                                <th scope="col">너</th>
                                <th scope="col">KDA</th>
                                <th scope="col">딜</th>
                                <th scope="col">More</th>
                            </tr>
                        </thead>
                        <tbody> </tbody>
                    </table>
                    <table id="templateTableNormal" class="vsTable table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">날짜</th>
                                <th scope="col">나</th>
                                <th scope="col">너</th>
                                <th scope="col">More</th>
                            </tr>
                        </thead>
                        <tbody> </tbody>
                    </table>
                </div>
            </div>
            <div id="con2" class="con" style="width:650px">
                <h3>적으로 만나서</h3>
                <div id="con2_2" class="table-responsive"> </div>
            </div>

            <!-- 카카오 광고 -->
            <%- include  ("../layout/rightBanner") %>
        </div>

        <div id="template" class="infoDiv" style="display:none">

        </div>

        <div id="modalDiv">
            <!-- 모달 영역 -->
            <div id="templateModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="templateModalLabel">
                <div class="modal-dialog modal-2xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title" id="templateModalLabel"></h6>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <table id="matchInfoTemplate" class="table table-striped table-condensed">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">C</th>
                                        <th scope="col">P</th>
                                        <th scope="col">buff</th>
                                        <th scope="col">닉네임</th>
                                        <th scope="col">급수</th>
                                        <th scope="col">RP(MAX)</th>
                                        <th scope="col">Lv</th>
                                        <th scope="col">킬</th>
                                        <th scope="col">데스</th>
                                        <th scope="col">도움</th>
                                        <th scope="col">딜량</th>
                                        <th scope="col">피해량</th>
                                        <th scope="col">치유</th>
                                        <th scope="col">철거반</th>
                                        <th scope="col">센티넬</th>
                                        <th scope="col">코인</th>
                                        <th scope="col">소모품(%)</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div hide>
                    <a id="matchBtn" data-toggle='modal' data-target=''></a>
                </div>
            </div>


            <div id="templateModalNormal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="templateModalNormalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title" id="templateModalNormalLabel"></h6>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <table id="matchInfoTemplate" class="table table-striped table-condensed">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">C</th>
                                        <th scope="col">P</th>
                                        <th scope="col">buff</th>
                                        <th scope="col">닉네임</th>
                                        <th scope="col">급수</th>
                                        <th scope="col">RP(MAX)</th>
                                        <th scope="col">Lv</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div hide>
                    <a id="matchBtn" data-toggle='modal' data-target=''></a>
                </div>
            </div>

        </div>

</body>

</html>