<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include  ("../layout/head") %>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script type="text/javascript">
            var myChart;

            $(document).ready(function() {
                $("input[type='text']").css("width", "15%");

                $("#mainMenu").removeClass("active");
                $("#userChart").addClass("active");

                myChart = new Chart($("#myChart"), config);

                $("input[name='season']").on("change", resetChart);
                getChartDateLabel($("input[name='season']:checked").val());
            });

            function resetChart() {
                myChart.data.datasets = [];
                myChart.data.labels = [];
                myChart.update();

                getChartDateLabel($("input[name='season']:checked").val());
            }

            function userRankSearch() {
                let nickName = $("#nickNames").val();
                $("#nickNames").val("");

                searchUserRank(nickName, drawRank);
            }

            function getChartDateLabel(season) {
                $.ajax({
                    async: false,
                    url: "/rankChart/chartDate",
                    data: {
                        "season": season
                    },
                    success: function(data) {
                        if (data.resultCode == -1) {
                            return;
                        }
                        drawRank('날짜축', data, true);
                    },
                    error: function(data) {
                        return;
                    }
                }).done(function() {

                });
            }

            function searchUserRank(nickName) {
                var result;
                $.ajax({
                    async: false,
                    url: "/rankChart/userRank",
                    data: {
                        'nickname': nickName,
                        'season': $("input[name='season']:checked").val()
                    },
                    success: function(data) {
                        if (data.resultCode == -1) {
                            alert(nickName + "님의 정보가 없습니다.");
                            return;
                        }
                        drawRank(nickName, data);
                    },
                    error: function(data) {
                        alert(nickName + "님의 정보가 없습니다.");
                        return;
                    }
                }).done(function() {

                });
                return result;
            }

            function drawRank(nickName, row, hide = false) {
                let dataset = {
                    label: nickName,
                    data: row,
                    hidden: hide,
                    fill: false,
                    borderColor: 'rgb(' + getRandomInt(0, 255) + ', ' + getRandomInt(0, 255) + ', ' + getRandomInt(0, 255) + ')',
                    tension: 0.1
                }
                addData(dataset);
            }

            function getRandomInt(min, max) {
                min = Math.ceil(min);
                max = Math.floor(max);
                return Math.floor(Math.random() * (max - min)) + min; //최댓값은 제외, 최솟값은 포함
            }

            function addData(data) {
                myChart.data.datasets.push(data);
                myChart.update();
            }

            const config = {
                type: 'line',
                //data: data,
                options: {
                    scales: {
                        yAxis: {
                            reverse: true,
                            min: 0,
                            //  max: 10000
                        }
                    }

                }
            };
        </script>
</head>

<body class="body">
    <%- include  ("../layout/menu") %>

        <div id="main">
            <div class="top">
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" name="season" id="season_2022H" value="2022H" checked/>
                    <label class="form-check-label" for="season_2022H"> 2022H </label>&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="form-check-input" name="season" id="season_2021U" value="2021U" />
                    <label class="form-check-label" for="season_2021U"> 2021U </label>
                </div>
                <br>

                <input type="text" class="shortText" id="nickNames" onKeyPress="if(event.keyCode == 13) { userRankSearch(); } " placeholder="닉네임" />
                <input type="button" value="검색" onClick="userRankSearch();">
                <input type="button" value="초기화" onClick="resetChart();">

            </div>
            <div id="con1" class="con" style="width:98%">
                <h3>랭킹추이</h3>
                <div id="con1_2" class="table-responsive">
                    <canvas id="myChart" width="900" height="400"></canvas>
                </div>

            </div>
        </div>

</body>

</html>