<!DOCTYPE html>
<html lang="ko">

<head>

    <%- include  ("../layout/head") %>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.0.3/js.cookie.js"></script>
        <script type="text/javascript">
            pageName = "pcUserSearch";

            var userData = {};

            $(document).ready(function() {
                let nickname = '<%=searchNickname%>';
                if (nickname != '') {
                    $("#nickNames").val(nickname);
                    search('nickNames', 'con1_2');
                }

                showSearchHistory();
                $("#partyShow").on("change", () => checkVisibility("partyShow"));
                $("#positionShow").on("change", () => checkVisibility("positionShow"));
                $("#mostCharShow").on("change", () => checkVisibility("mostCharShow"));
                $("#recentShow").on("change", () => checkVisibility("recentShow"));
                $("#tackShow").on("change", () => tackUse());
                tackUse();

                resetGameType();
                $("input[name='gameType']").on("change", resetGameType);
            });

            function resetGameType() {
                const val = $("input[name='gameType']:checked").val();
                clearDiv('con1_2');
                clearDiv('con2_2');
                $(".gameTypeText").text(val == 'rating' ? '[공식전]' : '[일반전]');

                // modalDiv의 자식 div 중 id가 templateModal이 아닌 것을 찾아 삭제
                $('#modalDiv > div:not(#templateModal)').remove();
                userData = {};

                Cookies.set('gameType', val, {
                    expires: 7
                });
            }

            function getCookie() {
                setCheckbox('partyShow', Cookies.get('playParty'));
                setCheckbox('positionShow', Cookies.get('positionDiv'));
                setCheckbox('mostCharShow', Cookies.get('mostCharDiv'));
                setCheckbox('recentShow', Cookies.get('recentlyDiv'));
                setCheckbox('tackShow', Cookies.get('tackShow'));

                let gameType = Cookies.get('gameType');
                if (gameType == null || gameType == '') {
                    gameType = 'rating';
                }
                $(`input[name='gameType'][value='${gameType}']`).click();
            }

            function setCheckbox(id, checked) {
                checked = (checked == null || checked == 'true' || checked == true);
                const chkbox = $("input:checkbox[id='" + id + "']");
                chkbox.attr("checked", checked);
                chkbox.prop('checked', checked);
            }

            function checkVisibility(id) {
                console.log(id);
                const isShow = $("#" + id).is(":checked");
                setVisible(id, isShow);
                Cookies.set(id, isShow, {
                    expires: 7
                });
            }

            const visibleTackDiv = () => {
                if ($("#tackShow").is(":checked")) {
                    //$("#mainUserSearch").css("width", "88%");
                    //$(".top").css("width", "88%");
                    $("#con3").show();
                } else {
                    // $("#mainUserSearch").css("width", "77%");
                    // $(".top").css("width", "77%");
                    $("#con3").hide();
                }
            }

            const tackUse = () => {
                const checked = $("#tackShow").is(":checked");
                Cookies.set("tackShow", checked, {
                    expires: 30
                });

                visibleTackDiv();
                $(".con").css("width", checked ? "29%": "38%");

                //1. 고정을 사용하는 경우
                if (checked) {
                    let userList = [];
                    if (Cookies.get('tackUserList')) {
                        userList = Cookies.get('tackUserList').split(",");
                    }
                    userList.forEach(divId => {
                        const divItem = $("#" + divId);
                        if (!moveToTack(divId)) {
                            // 이미 존재하는 div인경우 가져와보고
                            // 존재하지 않는 경우 검색
                            let userNm = divId.split("_")[0];
                            $("#nickNames3").val(userNm);
                            search('nickNames3', 'con3_2');
                        }
                    });
                } else {
                    //2. 고정을 사용하지 않는 경우
                    Cookies.set("tackUserList", '', {
                        expires: 30
                    });
                    $("#con3_2").find(".infoDiv").each((index, item) => {
                        $(item).find(".tackRemove").hide();
                        $(item).find(".tack").show();
                        $("#con1_2").prepend(item);
                    });
                }
            };

            const addTackUser = (divId) => {
                updateTackCookie(divId, "add");
                visibleTackDiv();
                moveToTack(divId);
            }

            const removeTackUser = (divId) => {
                updateTackCookie(divId, "remove");
                $("#" + divId).remove();
            }

            const updateTackCookie = (divId, action) => {
                let userList = [];
                if (Cookies.get('tackUserList')) {
                    userList = Cookies.get('tackUserList').split(",");
                }

                const isShow = action == "add";
                const index = userList.indexOf(divId);
                if (action == "add") {
                    if (index < 0) {
                        userList.push(divId);
                    }
                } else if (action == "remove") {
                    if (index >= 0) {
                        userList.splice(index, 1);
                    }
                }

                setCheckbox("tackShow", isShow);
                Cookies.set("tackShow", isShow, {
                    expires: 30
                });
                Cookies.set("tackUserList", userList.join(","), {
                    expires: 30
                });
            }

            const moveToTack = (divId) => {
                const divItem = $("#" + divId);
                if (divItem.length != 0) {
                    divItem.find(".tackRemove").show();
                    divItem.find(".tack").hide();
                    $("#con3").find("#con3_2").prepend(divItem);
                }
                return divItem.length != 0;
            }

            function setVisible(classId, isShow) {
                let div = $("." + classId);
                isShow ? div.show() : div.hide();
            }

            function setUserInfo(gameType, divName, data) {
                const nickname = data.nickname;
                if (userData[nickname] == null) {
                    userData[nickname] = data;
                }

                if(gameType == 'rating') {
                    const { playerId } = data;
                    callTeamRate(playerId, divName == "con1_2" ? "blue" : "red", drawTeamRate);

                    drawRatingUserInfo(gameType, divName, data, nickname);
                } else {
                    drawNormalUserInfo(gameType, divName, data, nickname);
                }
            }

            const drawTeamRate  = (team, data) => {
                console.log("data", data);
                const divId  = team == "blue" ? "teamRateBlue" : "teamRateRed" ;
                const {rate, total} = data;
                $("."+divId).empty().text(`팀승률: ${total}전 승률:${rate} `);
            }

            const drawRatingUserInfo = (gameType, divName, data, nickname) => {
                var userDivId = getUserDivId(gameType, nickname);
                if ($("#" + userDivId).length != 0) {
                    return;
                }

                //기본 정보 
                var clone = $("#template").clone();
                clone.attr("id", userDivId);
                if (divName == "con2_2") {
                    clone.removeClass("infoDiv");
                    clone.addClass("infoDivRed");
                }

                defaultInfo(userDivId, gameType, clone, data, divName != "con3_2");

                var rows = data.matches.rows.filter(row => row.playInfo.playTypeName == "정상" || row.playInfo.result == "승리" ).sort((a, b) => new Date(b.date) - new Date(a.date));
                //printChar(rows);

                //파티별
                drawPartyType(userDivId, clone.find("#playParty"), rows);

                //포지션별 
                getUserPositionInfo(data.playerId, clone.find("#positionDiv"));
                //drawPosition(clone, rows, nickname, appendPlayTypeInfo);

                //최근 10경기 결과
                drawRecently(clone, rows, userDivId);

                //자주하는 캐릭
                var userChar = extractChar(rows, sortCase);
                drawOften(clone, userChar, drawCharCardVer, nickname);

                clone.show();
                $("#" + divName).prepend(clone);
            }

            const getUserPositionInfo = (playerId, div) => {
                var result;
                $.ajax({
                    async: true,
                    url: "/matchesMap/getMatchesMap",
                    data: {"playerId" : playerId},
                    success: function(data) {
                        try {
                            callLoadingBar(false);
                        } catch (e) {

                        }
                        setUserPosition(div, data);
                    },
                    error: function(data) {
                        if (typeof callLoadingBar == 'function') {
                            callLoadingBar(false);
                        }
                        return;
                    }
                }).done(function() {
                    if (typeof callLoadingBar == 'function') {
                        callLoadingBar(false);
                    }
                });
            }

            const setUserPosition = (div, data) => {
                const emptyObj = { "win_count" : 0, "lose_count" : 0, "total_games" : 0};
                drawUserPosition(div, "극방",  data.filter(item => item.POSITION === "극방")[0] || emptyObj); 
                drawUserPosition(div, "방벨",  data.filter(item => item.POSITION === "방벨")[0] || emptyObj);                 
                drawUserPosition(div, "공벨",  data.filter(item => item.POSITION === "공벨")[0] || emptyObj); 
                drawUserPosition(div, "극공",  data.filter(item => item.POSITION === "극공")[0] || emptyObj); 
            }

            const drawUserPosition = (div, type, data) => {
                let imgUrl = "/image/position/";
                switch(type){
                    case "극방" : imgUrl += "defence.png";  break;
                    case "방벨" : imgUrl += "defenceBal.png";  break;
                    case "공벨" : imgUrl += "attackBal.png";  break;
                    case "극공" : imgUrl += "attack.png";  break;
                }

                const {win_count, lose_count, total_games} = data;
                const winRate = ((win_count / total_games) * 100) || 0;
                const infoStr = `${winRate.toFixed(2)}% <br><small class='text-muted'>${win_count}승 ${lose_count}패</small>`;

                $(div).append(`
                    <div class="card">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="${imgUrl}">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <p id="tankerSpan" class="card-text">${infoStr}</p>
                                </div>
                            </div>
                        </div>
                    </div>`);
            }

            const drawNormalUserInfo = (gameType, divName, data, nickname) => {
                var userDivId = getUserDivId(gameType, nickname);
                if ($("#" + userDivId).length != 0) {
                    return;
                }

                //기본 정보 
                var clone = $("#template").clone();
                clone.attr("id", userDivId);
                if (divName == "con2_2") {
                    clone.removeClass("infoDiv");
                    clone.addClass("infoDivRed");
                }

                defaultInfoNormal(userDivId, gameType, clone, data, divName != "con3_2");

                var rows = data.matches.rows.filter(row => row.playInfo.playTypeName == "정상" || row.playInfo.result == "승리" ).sort((a, b) => new Date(b.date) - new Date(a.date));
                //printChar(rows);

                //파티별
                drawPartyTypeNormal(userDivId, clone.find("#playParty"), rows);

                //포지션별 
                //drawPositionNormal(clone, rows, data.nickname);

                //자주하는 캐릭
                var userChar = extractChar(rows, sortCase);
                drawOftenNormal(clone, userChar, nickname);

                //최근 10경기 결과
                drawRecentlyNormal(clone, rows, userDivId);

                clone.show();
                $("#" + divName).prepend(clone);
            }

            function defaultInfo(divId, gameType, clone, data, tackShow) {
                var rating = data.records.filter(game => game.gameTypeId == gameType)[0] || { loseCount: 0, stopCount: 0, winCount: 0 };
                var pov = ((rating.winCount * 100) / (rating.winCount + rating.loseCount)) || 0;
                let item = $(clone);

                item.find("#nickNameDiv").append(data.nickname);
                item.find("#nickNameDiv").append(` <a href='javascript:nickHistory("${data.playerId}");' ><i class='red fas fas fa-heading'></i></a>`);
                item.find("#levelDiv").text(data.grade + "급 ");
                item.find("#clanDiv").text(data.clanName);

                getTierColerName(item.find("#tierName"), data.tierName);
                if (data.ratingPoint != null) {
                    item.find("#currRP").text(data.ratingPoint);
                    item.find("#maxRP").text("(" + data.maxRatingPoint + ")");
                }
                item.find("#beforeSeason").append(`<a href='javascript:userSeasonRank("${data.playerId}", drawSeasonRank);' >전시즌</a>`);

                let tot = rating.winCount + rating.loseCount + rating.stopCount;
                item.find("#playGameDiv").append(`<b class="red">승률</b> : ${pov.toFixed(0)}% [${tot}전 ${rating.winCount}승 ${rating.loseCount}패 ${rating.stopCount}중단]`);
                item.find("#tack").on("click", () => addTackUser(divId));
                item.find(".tackRemove").on("click", () => removeTackUser(divId));
                if (tackShow) {
                    item.find(".tack").show();
                    item.find(".tackRemove").hide();
                } else {
                    item.find(".tack").hide();
                    item.find(".tackRemove").show();
                }

            }

            function drawSeasonRank(data) {
                if (data.length == 0) {
                    alert("전시즌 언랭");
                } else {
                    let rankText = data.map(row => `${row.season} ${row.rankNumber == '몰?루?' ? '몰?루?' : row.rankNumber}위 `).join("\n");
                    alert(rankText);
                }
            }

            function getTierColerName(span, tierName) {
                let name = tierName;
                if (name == null) {
                    name = "Unrank";
                }
                span.addClass(name);
                span.text(name);
            }

            function nickHistory(nickId) {
                historyNickname(nickId, showNickHistory);
            }

            function showNickHistory(data) {
                if (data.length == 0 || data.resultCode == -1) {
                    alert("수집된 닉변기록이 없습니다");
                    return;
                }

                let info = "";
                for (idx in data) {
                    let row = data[idx];
                    info += row.season + ", " + row.nickname + ", 체크일:" + row.checkingDate + "\n";
                }

                alert(info);
            }

            $(function () {
                const $dropZone = $('#drop-zone');
                const $result = $('#result');

                // 드래그 오버
                $dropZone.on('dragover', function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                    $(this).addClass('dragover');
                });

                // 드래그 리브
                $dropZone.on('dragleave', function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                    $(this).removeClass('dragover');
                });

                // 드롭
                $dropZone.on('drop', function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                    $(this).removeClass('dragover');

                    const file = e.originalEvent.dataTransfer.files[0];
                    if (!file) return;

                    // 미리보기 또는 업로드 처리
                    uploadImage(file);
                });

                function uploadImage(file) {
                const formData = new FormData();
                formData.append('image', file);

                $result.text('업로드 중...');

                $.ajax({
                    url: '/user/getOcrNames',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        inferSearch(data.teamA.join(" "), 'con1_2');
                        inferSearch(data.teamB.join(" "), 'con2_2');
                    },
                    error: function (xhr, status, err) {
                        console.error(err);
                        $result.text('업로드 실패 😥');
                    }
                });
                }
            });

            const inferSearch = (nicknames, divId)  => {
                if (nicknames && nicknames != "") {
                    $("#nickNames").val(nicknames);
                    search('nickNames', divId);
                }
            }

        </script>
</head>

<body class="body">
    <%- include  ("../layout/menu") %>

    <!-- 카카오 광고 -->
    <%- include  ("../layout/leftBanner") %>

        <div id="mainUserSearch">
            <div class="divContainer" >
                <div class="topUserSearch box box1">
                    <div class="btn-group btn-group-toggle floatLeft" data-toggle="buttons">
                        <label class="btn btn-light active">
                          <input type="radio" name="gameType" id="gameType_rating" value="rating" checked /> 공식
                        </label>
                        <label class="btn btn-light">
                            <input type="radio" name="gameType" id="gameType_normal" value="normal" /> 일반
                        </label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="positionShow" checked>
                                <label class="form-check-label" for="positionShow">포지션 노출</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="partyShow" checked>
                                <label class="form-check-label" for="partyShow">파티 노출</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="mostCharShow" checked>
                                <label class="form-check-label" for="mostCharShow">자주하는 캐릭 노출</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="recentShow" checked>
                                <label class="form-check-label" for="recentShow">최근 10게임 노출</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="tackShow" checked>
                                <label class="form-check-label" for="tackShow">고정탭 노출</label>
                            </div>                    
                        </div>
                    </div>                
                </div>

                <div id="topHistory" class="box box2 topHistory" ></div>
                <div id="drop-zone" class="box box3">매칭스크린샷 이미지를 <br>이곳에 드래그 앤 드롭하세요 <br>(베타입니다.)</div>
            </div>               

            <div id="con1" class="con">
                <h3>우리팀<span class="red gameTypeText"></span></h3><span class="teamRateBlue red"></span>
                <div class="input-group">
                    <input type="text" id="nickNames" class="form-control" placeholder="띄어쓰기로 검색 가능 ex) 마을주민1 마을주민2 마을주민3 ..." aria-label="띄어쓰기로 검색 가능 ex) 마을주민1 마을주민2 마을주민3 ..." aria-describedby="searchButton" onKeyPress="if(event.keyCode == 13) { search('nickNames', 'con1_2'); } ">
                    <div class="input-group-append" id="searchButton">
                        <button class="btn btn-outline-secondary" type="button" onClick="search('nickNames', 'con1_2');">검색</button>
                        <button class="btn btn-outline-secondary" type="button" onClick="clearDiv('con1_2');">초기화</button>
                    </div>
                </div>
                <div id="con1_2" class="infoLayer"> </div>
            </div>
            <div id="con2" class="con">
                <h3>적팀<span class="red gameTypeText"></span></h3><span class="teamRateRed red"></span></h3>
                <div class="input-group">
                    <input type="text" id="nickNames2" class="form-control" placeholder="띄어쓰기로 검색 가능 ex) 마을주민1 마을주민2 마을주민3 ..." aria-label="띄어쓰기로 검색 가능 ex) 마을주민1 마을주민2 마을주민3 ..." aria-describedby="searchButton" onKeyPress="if(event.keyCode == 13) { search('nickNames2', 'con2_2'); } ">
                    <div class="input-group-append" id="searchButton">
                        <button class="btn btn-outline-secondary" type="button" onClick="search('nickNames2', 'con2_2');">검색</button>
                        <button class="btn btn-outline-secondary" type="button" onClick="clearDiv('con2_2');">초기화</button>
                    </div>
                </div>
                <div id="con2_2" class="infoLayer"></div>
            </div>

            <div id="con3" class="con">
                <h3>고정<span class="red gameTypeText"></span></h3>
                <div class="input-group" hidden>
                    <input type="text" id="nickNames3" class="form-control" placeholder="띄어쓰기로 검색 가능 ex) 마을주민1 마을주민2 마을주민3 ..." aria-label="띄어쓰기로 검색 가능 ex) 마을주민1 마을주민2 마을주민3 ..." aria-describedby="searchButton" onKeyPress="if(event.keyCode == 13) { search('nickNames3', 'con3_2'); } ">
                    <div class="input-group-append" id="searchButton">
                        <button class="btn btn-outline-secondary" type="button" onClick="search('nickNames3', 'con3_2');">검색</button>
                        <button class="btn btn-outline-secondary" type="button" onClick="clearDiv('con3_2');">초기화</button>
                    </div>
                </div>
                <div id="con3_2" style="height: 92%;" class="infoLayer"></div>
            </div>
        </div>


        <div id="template" class="infoDiv" style="display:none">
            <div id="defaultDiv">
                <!-- <div id="gameTypeDiv" class="red bold width100p"></div> -->
                <div class="nicknameLayer width100p">
                    <div id="nickNameDiv" class="nickNameDiv"> </div>
                    <div class="width45p">
                        <span id="levelDiv"></span>&nbsp;&nbsp;
                        <span id="clanDiv"></span>
                    </div>
                    <div class="width50p">
                        <span id="tierName"></span>&nbsp;
                        <span id="currRP" class="bold"></span>
                        <span id="maxRP"></span>
                        <span id="beforeSeason"></span>
                    </div>
                    <div class="tack">
                        <i id="tack" style="margin-right: 2px;font-size: 18px;" class="fas"></i>
                    </div>
                    <div class="tackRemove" style="display:none">
                        <i class='fas fa-window-close' style='font-size:18px;color:red'></i>
                    </div>
                </div>
                <div class="width100p">
                    <div id="playGameDiv"></div>
                </div>
                <div id="playParty" class="playParty width100p"></div>
            </div>

            <!-- 포지션별 승률 -->
            <div id="positionDiv" class="positionDiv"></div>

            <!-- 자주하는 캐릭-->
            <div id="mostCharDiv" class="mostCharDiv">
                <div id="mostCharTitleDiv" class="width100p">자주하는캐릭 TOP3</div>
                <div id="mostCharDetailDiv" class="mostCharDetailDiv">
                    <div id="cardTemp" class="card" hidden>
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <!-- <img src="https://img-api.neople.co.kr/cy/characters/5f4c4d6d332766ca219af12dfc41f124">-->
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <p class="card-text">
                                        <!-- 57% <br> <small class="text-muted">79승 60패 </small>-->
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="recentlyDiv" class="width100p recentlyDiv">
                <div class="width100p" id="recentlyDivTitle">
                    <!--최근 10게임 -->
                </div>
            </div>
        </div>

        <div id="modalDiv">
            <!-- 매칭 리스트 -->
            <div id="templateModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="templateModalLabel">
                <div class="modal-dialog modal-2xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="templateModalLabel">최근 10게임</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        </div>
                        <div class="modal-body modal-dialog-scrollable">
                            <table id="templateTable" class="table table-striped table-condensed">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">날짜</th>
                                        <th scope="col">파티</th>
                                        <th scope="col">결과</th>
                                        <th scope="col">Char</th>
                                        <th scope="col">Lv</th>
                                        <th scope="col">KDA</th>
                                        <th scope="col">딜량</th>
                                        <th scope="col">피해량</th>
                                        <th scope="col">소모품%</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 매칭 상세 -->
        <div style="display:none">
            <table id="matchInfoTemplate" class="table table-striped table-condensed">
                <thead class="thead-light">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">C</th>
                        <th scope="col">닉네임</th>
                        <th scope="col">급</th>
                        <th scope="col">rp</th>
                        <th scope="col">Lv</th>
                        <th scope="col">킬</th>
                        <th scope="col">데스</th>
                        <th scope="col">도움</th>
                        <th scope="col">딜량</th>
                        <th scope="col">피해량</th>
                        <th scope="col">치유</th>
                        <th scope="col">철거반</th>
                        <th scope="col">센티넬</th>
                        <th scope="col">코인</th>
                        <th scope="col">소모품(%)</th>
                        <th scope="col"> </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
</body>

</html>