<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include  ("../layout/head") %>
    
        <script type="text/javascript">
            pageName = "pcDetail";
            
            var playRow = null;
            var nickname;
            var userData = {};
            const positions = [ '탱커', '근거리딜러', '원거리딜러', '서포터'];

            $(document).ready(function() {

                $("#mainMenu").removeClass("active");
                $("#userDetailMenu").addClass("active");

                nickname = '<%=searchNickname%>';
                if (nickname != '') {
                    $("#nickNames").val(nickname);
                    searchDetail();
                }
                showSearchHistory();
            });

            function searchDetail() {
                searchUser("nickNames", null, $("#nickNames").val(), setUserDetailInfo);
            }

            function setUserDetailInfo(data) {
                let gameType = $("input[name='gameType']:checked").val();

                $("#con1_2").empty();
                $("#con2_2").empty();

                nickname = data.nickname;
                if (userData[nickname] == null) {
                    userData[nickname] = data;
                }

                if(gameType == 'rating') {
                    drawLeftInfo(gameType, data);
                    drawRightInfo(data);
                } else {
                    drawLeftInfoNormal(gameType, data);
                    drawRightInfoNormal(data);
                }
            }

            const drawLeftInfo = (gameType, data) => {
                var userDivId = getUserDivId(gameType, nickname);

                //기본 정보
                var clone = $("#template").clone();
                clone.attr("id", userDivId);
                defaultInfo(gameType, clone, data);

                var rows = data.matches.rows.filter(row => row.playInfo.playTypeName == "정상" || row.playInfo.result == "승리" ).sort((a, b) => new Date(b.date) - new Date(a.date));
                playRow = rows.filter(row => row.playInfo.playTypeName == "정상" || row.playInfo.result == "승리" ).sort((a, b) => new Date(b.date) - new Date(a.date));

                //파티별
                drawPartyType(userDivId, clone.find("#playParty"), rows);

                //포지션 별 승률
                getUserPositionInfo(data.playerId, clone.find("#positionDiv"));
                // drawPosition(clone, rows, nickname, appendPlayTypeInfo);

                //자주하는 캐릭
                var userChar = extractChar(rows, sortCase);
                drawOften(clone, userChar, drawCharCardVer, nickname);

                //최근 10게임
                drawRecently(clone, rows);

                // 일별 승률
                drawDailyResult(clone, calcDaily(rows));

                // 플레이 리스트 
                playDetailGameList("all", clone);

                clone.show();
                $("#con1_2").prepend(clone);
            }

            const getUserPositionInfo = (playerId, div) => {
                var result;
                $.ajax({
                    async: true,
                    url: "/matchesMap/getMatchesMap",
                    data: {"playerId" : playerId},
                    success: function(data) {
                        try {
                            callLoadingBar(false);
                        } catch (e) {

                        }
                        setUserPosition(div, data);
                    },
                    error: function(data) {
                        if (typeof callLoadingBar == 'function') {
                            callLoadingBar(false);
                        }
                        return;
                    }
                }).done(function() {
                    if (typeof callLoadingBar == 'function') {
                        callLoadingBar(false);
                    }
                });
            }

            const setUserPosition = (div, data) => {
                const emptyObj = { "win_count" : 0, "lose_count" : 0, "total_games" : 0};
                drawUserPosition(div, "극방",  data.filter(item => item.POSITION === "극방")[0] || emptyObj);
                drawUserPosition(div, "방벨",  data.filter(item => item.POSITION === "방벨")[0] || emptyObj);
                drawUserPosition(div, "공벨",  data.filter(item => item.POSITION === "공벨")[0] || emptyObj);
                drawUserPosition(div, "극공",  data.filter(item => item.POSITION === "극공")[0] || emptyObj);
            }

            const drawUserPosition = (div, type, data) => {
                let imgUrl = "/image/position/";
                switch(type){
                    case "극방" : imgUrl += "defence.png";  break;
                    case "방벨" : imgUrl += "defenceBal.png";  break;
                    case "공벨" : imgUrl += "attackBal.png";  break;
                    case "극공" : imgUrl += "attack.png";  break;
                }

                const {win_count, lose_count, total_games} = data;
                const winRate = ((win_count / total_games) * 100) || 0;
                const infoStr = `${winRate.toFixed(2)}% <br><small class='text-muted'>${win_count}승 ${lose_count}패</small>`;

                $(div).append(`
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-md-5">
                            <img src="${imgUrl}">
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <p id="tankerSpan" class="card-text">${infoStr}</p>
                            </div>
                        </div>
                    </div>
                </div>`);
            }
            
            const drawRightInfo = (data) => {
                var div = $("#template2").clone();

                var rows = data.matches.rows.filter(row => row.playInfo.playTypeName == "정상" || row.playInfo.result == "승리" ).sort((a, b) => new Date(b.date) - new Date(a.date));
                drawMapInfo(rows, div, 101, '리버포드', "#river"); //리버포트
                drawMapInfo(rows, div, 102, '메트로폴리스', "#metro"); //메트로폴리스
                drawMapInfo(rows, div, 103, '브리스톨', "#bristol"); //브리스톨
                drawMapInfo(rows, div, 104, '스프링필드', "#spring"); //스프링필드
                drawMapInfo(rows, div, 105, '그랑플람 아시아 지부', "#asia"); //그랑플람 아시아 지부
                drawMapInfo(rows, div, 106, '리버포드 앳 던', "#atDawn"); //그랑플람 아시아 지부

                div.show();

                $("#con2_2").empty().append(div);
            }

            const drawLeftInfoNormal = (gameType, data) => {
                nickname = data.nickname;
                var userDivId = getUserDivId(gameType, nickname);

                //기본 정보
                var clone = $("#template").clone();
                clone.attr("id", userDivId);
                defaultInfo(gameType, clone, data);

                var rows = data.matches.rows.filter(row => row.playInfo.playTypeName == "정상" || row.playInfo.result == "승리" ).sort((a, b) => new Date(b.date) - new Date(a.date));
                playRow = rows.filter(row => row.playInfo.playTypeName == "정상" || row.playInfo.result == "승리" ).sort((a, b) => new Date(b.date) - new Date(a.date));
                
                //파티별
                drawPartyTypeNormal(userDivId, clone.find("#playParty"), rows);

                //포지션 별 승률
                // drawPositionNormal(clone, rows, nickname);

                //자주하는 캐릭
                var userChar = extractChar(rows, sortCase);
                drawOftenNormal(clone, userChar, nickname);

                //최근 10게임
                drawRecentlyNormal(clone, rows);

                // 일별 승률
                drawDailyResultNormal(clone, calcDaily(rows));

                // 플레이 리스트 
                playDetailGameListNormal("all", clone);

                clone.show();
                $("#con1_2").prepend(clone);
            }
            
            const drawRightInfoNormal = (data) => {
                var div = $("#template2").clone();

                var rows = data.matches.rows.filter(row => row.playInfo.playTypeName == "정상" || row.playInfo.result == "승리" ).sort((a, b) => new Date(b.date) - new Date(a.date));
                drawMapInfo(rows, div, 101, '리버포드', "#river"); //리버포트
                drawMapInfo(rows, div, 102, '메트로폴리스', "#metro"); //메트로폴리스
                drawMapInfo(rows, div, 103, '브리스톨', "#bristol"); //브리스톨
                drawMapInfo(rows, div, 104, '스프링필드', "#spring"); //스프링필드
                drawMapInfo(rows, div, 105, '그랑플람 아시아 지부', "#asia"); //그랑플람 아시아 지부
                drawMapInfo(rows, div, 106, '리버포드 앳 던', "#atDawn"); //그랑플람 아시아 지부

                div.show();

                $("#con2_2").empty().append(div);
            }

            const defaultInfo = (gameType, clone, data) => {
                var rating = data.records.filter(game => game.gameTypeId == gameType)[0] || { loseCount: 0, stopCount: 0, winCount: 0 };
                var pov = ((rating.winCount * 100) / (rating.winCount + rating.loseCount)) || 0;

                $(clone).find("#gameTypeDiv").text("[" + (gameType == 'rating' ? "공식전" : "일반전") + "]");
                $(clone).find("#nickNameDiv").text(data.nickname);
                $(clone).find("#levelDiv").text(data.grade + "급");
                $(clone).find("#clanDiv").text(data.clanName);

                $(clone).find("#currRP").text(data.ratingPoint);
                $(clone).find("#maxRP").text(data.maxRatingPoint);
                //$(clone).find("#playGameDiv").text("승률 : " + pov.toFixed(0) + "% [" + (rating.winCount + rating.loseCount) + "전 " + rating.winCount + "승 " + rating.loseCount + "패 " + rating.stopCount + "중단]");
                $(clone).find("#playGameDiv").text(pov.toFixed(0) + "% [" + (rating.winCount + rating.loseCount) + "전 " + rating.winCount + "승 " + rating.loseCount + "패 " + rating.stopCount + "중단]");
            }
            
            const playDetailGameList = (charId, div) => {
                let rows = playRow;
                
                const searchPosition = positions.indexOf(charId) >= 0;
                if (charId != 'all' && !searchPosition ) {
                    rows = rows.filter(row => row.playInfo.characterId == charId);
                } else if(searchPosition) {
                    rows = rows.filter(row => row.position.name == charId);
                }

                var clone = $("#templateTable").clone();
                clone.removeAttr("id");

                var body = clone.find("tbody");
                rows.forEach(row => {
                    const {result, characterId, killCount, deathCount, assistCount, attackPoint, damagePoint} = row.playInfo;
                    //date
                    let text = "<tr>";
                    text += `<td> ${row.date} </td>`;
                    text += `<td><b>${winLoseKo(result)}</b></td>`;
                    text += "<td>" + drawCharicter(characterId) + "</td>";
                    text += "<td class='kda'>" + killCount + "/" + deathCount + "/" + assistCount + "</td>"
                    text += "<td class='kda'>" + (attackPoint / 1000).toFixed(0) + "k</td>";
                    text += "<td class='kda'>" + (damagePoint / 1000).toFixed(0) + "k</td>";

                    let moreIcon = '<i class="fa fa-search-plus" style="font-size:15px;color:black;"></i>';
                    text += `<td onClick='searchMatch("${row.matchId}", drawMatchDetailPopup )'>${moreIcon}</td> `
                    text += "</tr>"
                    body.append(text);
                });

                if (div == null) {
                    div = $("#con1_2");
                }
                div.find("#playGameList").empty().append(clone);
            }

            const playGameMapList = (charId, div, showType) => {
                let rows = playRow;
                rows = extractMap(rows, div);
                
                const searchPosition = positions.indexOf(charId) >= 0;
                if (charId != 'all' && !searchPosition ) {
                    rows = rows.filter(row => row.playInfo.characterId == charId);
                } else if(searchPosition) {
                    rows = rows.filter(row => row.position.name == charId);
                }

                var clone = $("#playGameList");
                var body = clone.find("tbody");
                body.empty();
                rows.forEach(row => {
                    const {result, characterId, killCount, deathCount, assistCount, attackPoint, damagePoint} = row.playInfo;
                    //date
                    let text = "<tr>";
                    text += `<td> ${row.date} </td>`;
                    text += `<td><b>${winLoseKo(result)}</b></td>`;
                    text += "<td>" + drawCharicter(characterId) + "</td>";
                    text += "<td class='kda'>" + killCount + "/" + deathCount + "/" + assistCount + "</td>"
                    text += "<td class='kda'>" + (attackPoint / 1000).toFixed(0) + "k</td>";
                    text += "<td class='kda'>" + (damagePoint / 1000).toFixed(0) + "k</td>";

                    let moreIcon = '<i class="fa fa-search-plus" style="font-size:15px;color:black;"></i>';
                    text += `<td onClick='searchMatch("${row.matchId}", drawMatchDetailPopup )'>${moreIcon}</td> `
                    text += "</tr>"
                    body.append(text);
                });
            }

            const drawMatchDetailPopup = (matchId, result) => {
                let prefixMatchId = "m" + matchId;

                var data;
                if (result == null) {
                    $("#" + prefixMatchId + "Btn").click();
                    return;
                }

                if (typeof result == 'string') {
                    data = JSON.parse(result);
                } else {
                    data = result;
                }

                var body = $("#templateDetailModal").clone();
                body.attr("id", prefixMatchId + "Modal");
                body.attr("aria-labelledby", prefixMatchId + "ModalLabel");
                body.find("#templateDetailModalLabel")
                    .attr("id", prefixMatchId + "ModalLabel")
                    .text("매칭아이디: " + matchId);
                body.find("#matchInfoTemplate").attr("id", prefixMatchId + "div");
                var tbody = body.find("tbody");

                let winTeam = getTeam(data.teams, "win", data.players);
                let loseTeam = getTeam(data.teams, "lose", data.players);

                for (idx in winTeam) {
                    tbody.append(drawInGameDetail(matchId, winTeam[idx], "table-primary"));
                }
                for (idx in loseTeam) {
                    tbody.append(drawInGameDetail(matchId, loseTeam[idx], "table-danger"));
                }

                //클릭이벤트 설정용
                var btn = $(body).find("#matchBtn");
                btn.attr("id", prefixMatchId + "Btn");
                btn.attr("data-target", "#" + prefixMatchId + "Modal");
                $("#modalDiv").append(body);

                btn.click();
            }

            /***
             * 맵별 포지션 승률
             */
            const drawMapInfo = (rows, div, mapId, mapName, divId) => {
                //포지션별 승률
                let mapRow = extractMap(rows, mapName);
                showMapRate(div.find(divId).find(".mapRate"), mapRow);
                // drawPosition(div.find(divId), mapRow, nickname, appendPlayTypeInfo);
                let userMapChar = extractChar(mapRow, highScore);
                
                drawOften(div.find(divId).find("#often"), userMapChar, drawCharCardVer, nickname);
            }

            const showMapRate = (div, mapRow) => {
                const totalCount = mapRow.length;
                const winCount = mapRow.filter(row => row.playInfo.result == 'win').length;
                div.empty().append(`(승률: ${((winCount/totalCount) * 100).toFixed(0)}% / ${totalCount}전 ${winCount}승 ${totalCount - winCount} 패 )`);
            }

        </script>
</head>

<body class="renewalBody userDetailBody">
    <%- include  ("../layout/menu") %>

    <div id="mainUserDetail" class="mainInner">
        <!-- 카카오 광고 -->
        <%- include  ("../layout/leftBanner") %>

        <div class="renewalDetailSearch">
            <div id="gameTypeWrap" class="gameTypeWrap">
                <div id="gameTypeShow" class="gameTypeShow"><p>공식전</p></div>
                <div id="gameTypeSelect" class="gameTypeSelect" style="display: none">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="gameType_rating" name="gameType" class="custom-control-input" value="rating" checked>
                        <label class="custom-control-label game-type-option" for="gameType_rating" data-type="공식">공식</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="gameType_normal" name="gameType" class="custom-control-input" value="normal" >
                        <label class="custom-control- game-type-option" for="gameType_normal" data-type="일반">일반</label>
                    </div>
                </div>
            </div>

            <div class="input-group detailSearchInputWrap">
                <input type="text" id="nickNames" class="form-control detailSearchInput" placeholder="닉네임 검색" aria-label="닉네임 검색" aria-describedby="searchButton" onKeyPress="if(event.keyCode == 13) { searchDetail(); } " autocomplete="off">
                <div class="input-group-append" id="searchButton">
                    <button class="searchButton" type="button" onClick="searchDetail();" title="검색"></button>
<!--                    <button class="btn btn-outline-secondary" type="button" onClick="clearDiv('con1_2');clearDiv('con2_2');">초기화</button>-->
                </div>
                <div id="renewalDetailHistory" class="renewalDetailHistory" style="display: none">
                    <p class="recentSearch">최근검색</p>
                    <ul id="topHistory" class="detailHistory">
                    </ul>
                </div>
            </div>
        </div>

        <div class="conDetailWrap">
            <div id="con1" class="conDetail">
                <div id="con1_2" class="infoLayer2">

                </div>
            </div>
            <div id="con2" class="conDetail">
                <div id="con2_2" class="infoLayer2">

                </div>
            </div>
        </div>
    </div>

    <div id="template" class="infoDiv mainDetail" style="display:none">
        <section>
            <div id="defaultDiv" class="defaultDiv">
                <!--            <div id="gameTypeDiv" class="red bold width100p"></div>-->
                <div class="nickNameWrap">
                    <h3 id="nickNameDiv" class=""></h3>
                </div>
                <div class="infoWrap">
                    <div id="clanDiv" class="clanWrap"></div>
                    <div id="levelDiv" class="levelWrap"></div>
                    <div class="RPWrap">
                        <div class=""><span id="currRP" class="bold red"></span></div>/
                        <div class=""><span id="maxRP"></span></div>
                    </div>
                    <div id="playGameDiv" class="playGameWrap">
                        <!-- 승률 : 50% [100승 101패 2중단]-->
                    </div>
                    <div id="playParty" class="playParty"></div>
                </div>
            </div>

            <!-- 포지션별 승률 -->
            <div id="positionDiv" class="positionDiv"></div>

            <div id="mostCharDiv" class="mostCharDiv">
<!--                <p id="mostCharTitleDiv" class="width100p">자주하는캐릭 TOP3</p>-->
                <div id="mostCharDetailDiv" class="mostCharDetailDiv"></div>
            </div>
<!--            <div id="recentlyDiv" class="">-->
<!--                <div class="width100p bold" id="recentlyDivTitle">-->
<!--                    &lt;!&ndash;최근 10게임 &ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->

            <div class="moreDailyResultWrap">
                <div id="dailyResult" class="dailyResult"></div>
                <div id="moreDailyResult" class="collapse"></div>
                <p style="text-align: center"><i class="fas fa-angle-double-down" data-toggle="collapse" data-target="#moreDailyResult" aria-expanded="true"></i></p>
            </div>
        </section>
        <section>
            <div id="playGameList" class="playGameList"></div>
        </section>
    </div>

    <div style="display:none">
        <table id="templateTable" class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">일시</th>
                    <th scope="col">결과</th>
                    <th scope="col">Char</th>
                    <th scope="col">KDA</th>
                    <th scope="col">딜량</th>
                    <th scope="col">피해량</th>
                    <th scope="col">+</th>
                </tr>
            </thead>
            <tbody> </tbody>
        </table>
    </div>

    <div id="template2" class="mainDetail2" style="display:none">
        <div id="river" data-mapName="리버포드" class="mapCard">
            <div class="bold width100p">리버포드 <span class="mapRate"></span></div>
            <!-- 포지션별 승률 -->
            <div id="positionDiv" class="positionDiv"></div>
            <div id="often" class="width100p">
                <div id="mostCharTitleDiv" class="width100p bold">자주하는캐릭 TOP3</div>
                <div id="mostCharDetailDiv">
                    <!-- 자주하는 캐릭 top3 -->
                </div>
            </div>
        </div>
        <div id="metro" data-mapName="메트로폴리스" class="mapCard">
            <div class="bold width100p">메트로폴리스 <span class="mapRate"></span></div>
            <!-- 포지션별 승률 -->
            <div id="positionDiv" class="positionDiv"></div>
            <div id="often" class="width100p">
                <div id="mostCharTitleDiv" class="width100p bold">자주하는캐릭 TOP3</div>
                <div id="mostCharDetailDiv">
                    <!-- 자주하는 캐릭 top3 -->
                </div>
            </div>
        </div>
        <div id="bristol" data-mapName="브리스톨" class="mapCard">
            <div class="bold width100p">브리스톨 <span class="mapRate"></span></div>
            <!-- 포지션별 승률 -->
            <div id="positionDiv" class="positionDiv"></div>
            <div id="often" class="width100p">
                <div id="mostCharTitleDiv" class="width100p bold">자주하는캐릭 TOP3</div>
                <div id="mostCharDetailDiv">
                    <!-- 자주하는 캐릭 top3 -->
                </div>
            </div>
        </div>
        <div id="spring" data-mapName="스프링필드" class="mapCard">
            <div class="bold width100p">스프링필드 <span class="mapRate"></span></div>
            <!-- 포지션별 승률 -->
            <div id="positionDiv" class="positionDiv"></div>
            <div id="often" class="width100p">
                <div id="mostCharTitleDiv" class="width100p bold">자주하는캐릭 TOP3</div>
                <div id="mostCharDetailDiv">
                    <!-- 자주하는 캐릭 top3 -->
                </div>
            </div>
        </div>
        <div id="asia" data-mapName="그랑플람 아시아 지부" class="mapCard">
            <div class="bold width100p">그랑플람 아시아 지부 <span class="mapRate"></span></div>
            <!-- 포지션별 승률 -->
            <div id="positionDiv" class="positionDiv"></div>
            <div id="often" class="width100p">
                <div id="mostCharTitleDiv" class="width100p bold">자주하는캐릭 TOP3</div>
                <div id="mostCharDetailDiv">
                    <!-- 자주하는 캐릭 top3 -->
                </div>
            </div>
        </div>
        <div id="atDawn" data-mapName="리버포드 앳 던" class="mapCard">
            <div class="bold width100p">리버포드 앳 던 <span class="mapRate"></span></div>
            <!-- 포지션별 승률 -->
            <div id="positionDiv" class="positionDiv"></div>
            <div id="often" class="width100p">
                <div id="mostCharTitleDiv" class="width100p bold">자주하는캐릭 TOP3</div>
                <div id="mostCharDetailDiv">
                    <!-- 자주하는 캐릭 top3 -->
                </div>
            </div>
        </div>

    </div>

    <div id="modalDiv">
        <!-- 모달 영역 -->
        <div id="templateModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="templateModalLabel">
            <div class="modal-dialog modal-2xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="templateModalLabel">최근 10게임</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <table id="templateTable" class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">날짜</th>
                                    <th scope="col">파티</th>
                                    <th scope="col">결과</th>
                                    <th scope="col">Char</th>
                                    <th scope="col">Lv</th>
                                    <th scope="col">KDA</th>
                                    <th scope="col">딜량</th>
                                    <th scope="col">피해량</th>
                                    <th scope="col">소모품%</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div id="templateDetailModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="templateDetailModalLabel">
            <div class="modal-dialog modal-2xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title" id="templateDetailModalLabel"></h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <table id="matchInfoTemplate" class="table table-striped table-condensed">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col">C</th>
                                    <th scope="col">닉네임</th>
                                    <th scope="col">급</th>
                                    <th scope="col">rp</th>
                                    <th scope="col">Lv</th>
                                    <th scope="col">킬</th>
                                    <th scope="col">데스</th>
                                    <th scope="col">도움</th>
                                    <th scope="col">딜량</th>
                                    <th scope="col">피해량</th>
                                    <th scope="col">치유</th>
                                    <th scope="col">철거반</th>
                                    <th scope="col">센티넬</th>
                                    <th scope="col">코인</th>
                                    <th scope="col">소모품(%)</th>
                                    <th scope="col"> </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div hide>
                <a id="matchBtn" data-toggle='modal' data-target=''></a>
            </div>
        </div>
    </div>

</body>

</html>