<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include  ("../layout/head") %>

        <script type="text/javascript">
            $(document).ready(function() {
                $("input[type='text']").css("width", "15%");

                $("#mainMenu").removeClass("active");
                $("#userVsMenu").addClass("active");
            })

            function userVsSearch() {
                let gameType = $("input[name='gameType']:checked").val();
                var result = searchVsUser(gameType, $("#nickNames").val(), $("#nickNames2").val());

                drawVs(result);
            }

            function drawVs(result) {
                $("#con1_2").empty();
                $("#con2_2").empty();

                drawTeam("con1_2", result.team);
                drawTeam("con2_2", result.enemy);
            }

            function drawTeam(divId, team) {
                $("#" + divId).append("<h4>승리: <span class='red'>" + team.win + "</span> 패배: <span class='blue'>" + team.lose + "<span></h4>");

                var clone = $("#templateTable").clone();
                clone.removeAttr("id");

                var body = clone.find("tbody");

                team.row.forEach(row => {
                    //date
                    let text = "<tr>";
                    console.log(row.date);
                    text += "<td>" + row.date + "</td>";
                    text += "<td><b>" + winLoseKo(row.result) + "</b></td>";
                    text += drawInGameScore(row.my);
                    text += drawInGameScore(row.you);

                    let moreIcon = '<i class="fa fa-search-plus" style="font-size:15px;color:black;"></i>';
                    text += `<td onClick='searchMatch("${row.matchId}", drawMatchVs )'>${moreIcon}</td> `
                    text += "</tr>"
                    body.append(text);
                });
                $("#" + divId).append(clone);
            }

            function drawInGameScore(data) {
                let score = "<td>" + drawCharicter(data.charId) + "</td>";
                score += "<td class='kda'>" + data.kill + "/" + data.death + "/" + data.assist + "</td>"
                score += "<td class='kda'>" + (data.attack / 1000).toFixed(0) + "k</td>";
                return score;
            }

            function focusMove() {
                $("#nickNames2").focus();
            }

            function drawMatchVs(matchId, result) {
                let prefixMatchId = "m" + matchId;

                var data;
                //console.log(typeof result);
                //console.log(data);
                if (result == null) {
                    $("#" + prefixMatchId + "Btn").click();
                    return;
                }

                if (typeof result == 'string') {
                    data = JSON.parse(result);
                } else {
                    data = result;
                }

                var body = $("#templateModal").clone();
                body.attr("id", prefixMatchId + "Modal");
                body.attr("aria-labelledby", prefixMatchId + "ModalLabel");
                body.find("#templateModalLabel")
                    .attr("id", prefixMatchId + "ModalLabel")
                    .text("매칭아이디: " + matchId);
                body.find("#matchInfoTemplate").attr("id", prefixMatchId + "div");
                var tbody = body.find("tbody");

                let winTeam = getTeam(data.teams, "win", data.players);
                let loseTeam = getTeam(data.teams, "lose", data.players);

                for (idx in winTeam) {
                    tbody.append(drawInGameDetail(winTeam[idx], true, "table-primary"));
                }
                for (idx in loseTeam) {
                    tbody.append(drawInGameDetail(loseTeam[idx], true, "table-danger"));
                }

                //클릭이벤트 설정용
                var btn = $(body).find("#matchBtn");
                btn.attr("id", prefixMatchId + "Btn");
                btn.attr("data-target", "#" + prefixMatchId + "Modal");
                $("#modalDiv").append(body);

                btn.click();
            }
        </script>
</head>

<body class="body">
    <%- include  ("../layout/menu") %>

        <div id="main" style="width:1450px">
            <div class="top" style="width:1420px">
                <input type="radio" name="gameType" id="gameType_rating" value="rating" checked /><label for="gameType_rating"> 공식 </label>
                <input type="radio" name="gameType" id="gameType_normal" value="normal" /><label for="gameType_normal"> 일반 </label>
                <input type="text" class="shortText" id="nickNames" onKeyPress="if(event.keyCode == 13) {focusMove(); } " placeholder="나와" />
                <span>&nbsp;이사람의</span>
                <input type="text" class="shortText" id="nickNames2" onKeyPress="if(event.keyCode == 13) { userVsSearch(); } " placeholder="이사람의" />
                <spna>전적</spna>
                <input type="button" value="검색" onClick="userVsSearch();">
                <input type="button" value="초기화" onClick="clearDiv('con1_2');"></br>
            </div>
            <div id="con1" class="con" style="width:700px">
                <h3>같은팀으로 만나서</h3>
                <div id="con1_2" class="table-responsive">

                </div>

                <div style="display:none">
                    <table id="templateTable" class="vsTable table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">날짜</th>
                                <th scope="col">결과</th>
                                <th scope="col">나</th>
                                <th scope="col">KDA</th>
                                <th scope="col">딜</th>
                                <th scope="col">너</th>
                                <th scope="col">KDA</th>
                                <th scope="col">딜</th>
                                <th scope="col">More</th>
                            </tr>
                        </thead>
                        <tbody> </tbody>
                    </table>
                </div>
            </div>
            <div id="con2" class="con" style="width:700px">
                <h3>적으로 만나서</h3>
                <div id="con2_2" class="table-responsive"> </div>
            </div>
        </div>

        <div id="template" class="infoDiv" style="display:none">

        </div>

        <div id="modalDiv">
            <!-- 모달 영역 -->
            <div id="templateModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="templateModalLabel">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title" id="templateModalLabel"></h6>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <table id="matchInfoTemplate" class="table table-striped table-condensed">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">C</th>
                                        <th scope="col">P</th>
                                        <th scope="col">buff</th>
                                        <th scope="col">닉네임</th>
                                        <th scope="col">Lv</th>
                                        <th scope="col">KDA</th>
                                        <th scope="col">킬</th>
                                        <th scope="col">데스</th>
                                        <th scope="col">도움</th>
                                        <th scope="col">딜량</th>
                                        <th scope="col">피해량</th>
                                        <th scope="col">코인</th>
                                        <th scope="col">소모품(%)</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div hide>
                    <a id="matchBtn" data-toggle='modal' data-target=''></a>
                </div>
            </div>
        </div>

</body>

</html>