<!DOCTYPE html>
<html lang="ko">

<head>

    <%- include  ("./layout/head") %>
        <script type="text/javascript">
            function setUserInfo(gameType, divName, data) {
                var rating = data.records.filter(game => game.gameTypeId == gameType)[0];
                var pov = (rating.winCount * 100) / (rating.winCount + rating.loseCount);

                var userDivId = getUserDivId(gameType, data.nickname);
                //기본 정보 
                var clone = $("#template").clone();
                clone.attr("id", userDivId);
                $(clone).find("#gameTypeDiv").text("[" + (gameType == 'rating' ? "공식전" : "일반전") + "]");

                $(clone).find("#nickNameDiv").append(data.nickname + " <a href='javascript:openDetail(\"" + data.nickname + "\");' ><b>[더]</b></a>");
                $(clone).find("#levelDiv").text(data.grade + "급");
                $(clone).find("#clanDiv").text(data.clanName);

                $(clone).find("#currRP").text(data.ratingPoint);
                $(clone).find("#maxRP").text(data.maxRatingPoint);
                //$(clone).find("#playGameDiv").text("승률 : " + pov.toFixed(0) + "% [" + (rating.winCount + rating.loseCount) + "전 " + rating.winCount + "승 " + rating.loseCount + "패 " + rating.stopCount + "중단]");
                $(clone).find("#playGameDiv").text("승률 : " + pov.toFixed(0) + "% [" + rating.winCount + "승 " + rating.loseCount + "패 " + rating.stopCount + "중단]");

                var rows = data.matches.rows;

                drawPosition(clone, rows);

                //최근 10경기 결과
                drawRecently(clone, rows, userDivId);

                //자주하는 캐릭
                var userChar = extractChar(rows, sortCase);
                drawOften(clone, userChar);

                clone.show();
                $("#" + divName).prepend(clone);
            }
        </script>
</head>

<body class="body">
    <%- include  ("./layout/menu") %>

        <div id="main">
            <div class="top">
                <input type="radio" name="gameType" id="gameType_rating" value="rating" checked /><label for="gameType_rating"> 공식 </label>
                <input type="radio" name="gameType" id="gameType_normal" value="normal" /><label for="gameType_normal"> 일반 </label>
            </div>
            <div id="con1" class="con">
                <h3>우리팀</h3>
                <input type="text" class="longText" id="nickNames" onKeyPress="if(event.keyCode == 13) { search('nickNames', 'con1_2'); } " placeholder="띄워쓰기로 검색 가능 ex) 마을주민1 마을주민2 마을주민3 ..." />
                <input type="button" value="검색" onClick="search('nickNames', 'con1_2');">
                <input type="button" value="초기화" onClick="clearDiv('con1_2');"><br/>
                <div id="con1_2" class="infoLayer"> </div>
            </div>
            <div id="con2" class="con">
                <h3>적팀</h3>
                <input type="text" class="longText" id="nickNames2" onKeyPress="if(event.keyCode == 13) { search('nickNames2', 'con2_2'); } " placeholder="띄워쓰기로 검색 가능 ex) 마을주민1 마을주민2 마을주민3 ..." />
                <input type="button" value="검색" onClick="search( 'nickNames2','con2_2');">
                <input type="button" value="초기화" onClick="clearDiv('con2_2');"><br/>
                <div id="con2_2" class="infoLayer"></div>
            </div>
            <div id="bottom" class="bottom">
                ※ 문의/요청 <br/> - dododosa@naver.com 또는 마을주민1로 쪽지<br/> - IE는 지원 보류합니다. 기능부터 다 채우고 할 예정.. (크롬쓰세요 크롬) <br/> - 검색 일자는 이번 시즌부터 검색이 됩니다. <br/>
                <br/>
                <h2>패치노트</h2>
                - 2021-04-04 MOBILE UI 1차 수정 <br/> - 2021-04-03 PC UI 1차 수정 <br/> - 2021-04-03 일반전 검색기능 개발 <br/> - 2021-04-02 사용자 조회 실패시 오류 메시지 추가 <br/> - 2021-04-02 게임판수가 10판이하일때 오류가 발생하던 현상 수정 <br/> - 2021-04-01#2 검색시간을 UTC로 검색하던 이슈 수정(최근9시간 누락) <br/>                - 2021-04-01#1 포지션 아이콘 변경 <br/> - 2021-03-31 최근 10게임 결과 노출기능 추가 <br/>
            </div>
        </div>

        <div id="template" class="infoDiv" style="display:none">
            <div id="defaultDiv">
                <div id="gameTypeDiv" class="red bold width100p"></div>
                <div class="width100p">
                    <div id="nickNameDiv" class="width25p bold"> </div>
                    <div id="levelDiv" class="width25p"></div>
                    <div id="clanDiv" class="width33p"></div>
                </div>
                <div class="width100p">
                    <div class="width25p">현재 rp : <span id="currRP" class="bold red"></span></div>
                    <div class="width25p">최고 rp : <span id="maxRP"></span></div>
                    <div id="playGameDiv">
                        <!-- 승률 : 50% [100승 101패 2중단]-->
                    </div>
                </div>
            </div>
            <div id="positionDiv">
                <div class="width45p"><img class="drawIcon" src="http://static.cyphers.co.kr/img/game_position/position1.jpg"> <span id="tankerSpan"></span></div>
                <div class="width45p"><img class="drawIcon" src="http://static.cyphers.co.kr/img/game_position/position2.jpg"> <span id="meleeSpan"></span></div>
                <div class="width45p"><img class="drawIcon" src="http://static.cyphers.co.kr/img/game_position/position3.jpg"> <span id="adSpan"></span></div>
                <div class="width45p"><img class="drawIcon" src="http://static.cyphers.co.kr/img/game_position/position4.jpg"> <span id="suppSpan"></span></div>
            </div>
            <div id="mostCharDiv">
                <div id="mostCharTitleDiv" class="width100p bold">자주하는캐릭 TOP3</div>
                <div id="mostCharDetailDiv">
                    <!-- 자주하는 캐릭 top3 -->
                </div>
            </div>
            <div id="recentlyDiv" class="width100p">
                <div class="width100p bold" id="recentlyDivTitle">
                    <!--최근 10게임 -->
                </div>
                <div id="recentlyResultDiv">
                    <a data-toggle="modal" data-target="#templateModal">[더보기]</a>
                </div>
            </div>
        </div>

        <div id="modalDiv">
            <!-- 모달 영역 -->
            <div id="templateModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="templateModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="templateModalLabel">최근 10게임</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <table id="templateTable" class="table table-striped">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">포지션</th>
                                        <th scope="col">캐릭터</th>
                                        <th scope="col">KDA</th>
                                        <th scope="col">딜량</th>
                                        <th scope="col">피해량</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


</body>

</html>