<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include  ("./layout/head") %>

        <script type="text/javascript">
            $(document).ready(function() {
                $("input[type='text']").css("width", "15%");

                $("#mainMenu").removeClass("active");
                $("#userVsMenu").addClass("active");
            })

            function userVsSearch() {
                let gameType = $("input[name='gameType']:checked").val();
                var result = searchVsUser(gameType, $("#nickNames").val(), $("#nickNames2").val());

                drawVs(result);
            }

            function drawVs(result) {
                $("#con1_2").empty();
                $("#con2_2").empty();

                drawTeam("con1_2", result.team);
                drawTeam("con2_2", result.enemy);
            }

            function drawTeam(divId, team) {
                $("#" + divId).append("<h4>승리: <span class='red'>" + team.win + "</span> 패배: <span class='blue'>" + team.lose + "<span></h4>");

                var clone = $("#templateTable").clone();
                clone.removeAttr("id");

                var body = clone.find("tbody");

                team.row.forEach(row => {
                    let text = "<tr><td>" + winLoseKo(row.result) + "</td>";
                    text += drawInGameScore(row.my);
                    text += drawInGameScore(row.you);
                    body.append(text);
                });
                $("#" + divId).append(clone);
            }

            function drawInGameScore(data) {
                let score = "<td>" + drawCharicter(data.charId) + "</td>";
                score += "<td class='kda'>" + data.kill + "/" + data.death + "/" + data.assist + "</td>"
                score += "<td class='kda'>" + (data.attack / 1000).toFixed(0) + "k</td>";
                return score;
            }

            function focusMove() {
                $("#nickNames2").focus();
            }
        </script>
</head>

<body class="body">
    <%- include  ("./layout/menu") %>

        <div id="main">
            <div class="top" style="width: 1020px;height: 58px;">
                <input type="radio" name="gameType" id="gameType_rating" value="rating" checked /><label for="gameType_rating"> 공식 </label>
                <input type="radio" name="gameType" id="gameType_normal" value="normal" /><label for="gameType_normal"> 일반 </label>
                <input type="text" class="shortText" id="nickNames" onKeyPress="if(event.keyCode == 13) {focusMove(); } " placeholder="나와" />
                <span>&nbsp;이사람의</span>
                <input type="text" class="shortText" id="nickNames2" onKeyPress="if(event.keyCode == 13) { userVsSearch(); } " placeholder="이사람의" />
                <spna>전적</spna>
                <input type="button" value="검색" onCdivck="userVsSearch();">
                <input type="button" value="초기화" onCdivck="clearDiv('con1_2');"></br>
            </div>
            <div id="con1" class="con">
                <h3>같은팀으로 만나서</h3>
                <div id="con1_2" class="table-responsive">

                </div>

                <div style="display:none">
                    <table id="templateTable" class="vsTable table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">나</th>
                                <th scope="col">KDA</th>
                                <th scope="col">딜</th>
                                <th scope="col">이사람</th>
                                <th scope="col">KDA</th>
                                <th scope="col">딜</th>
                            </tr>
                        </thead>
                        <tbody> </tbody>
                    </table>
                </div>


            </div>
            <div id="con2" class="con">
                <h3>적으로 만나서</h3>
                <div id="con2_2" class="table-responsive"> </div>
            </div>
        </div>

        <div id="template" class="infoDiv" style="display:none">

        </div>
</body>

</html>