<div class="leftBanner">
    <div style="float:left">
        <span class="fr-video fr-dvi fr-draggable">
            <a href="https://arca.live/b/actioncyphers/95805432?p=1">
                <video controls="true" loop="true" muted="true" playsinline="true" autoplay="true"
                    src="/image/akaBanner.mp4" width="160" height="600" data-version="v2" 
                    loading="lazy" class="video-autoplay">귀하의 브라우저는 html5 video를 지원하지 않습니다.</video>
            </a>
        </span>
    </div>

    <ins class="kakao_ad_area" style="display:none;" data-ad-unit="DAN-9nj9qEee6Ciigf2K" data-ad-width="160" data-ad-height="600"></ins>
    <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
</div>