<div class="leftBanner">    
    <a href="https://arca.live/b/actioncyphers/137724830" target="_blank">
        <img src="/image/ddan5.png" class="nodoBanner" />
    </a>
    <ins class="kakao_ad_area" style="display:none;" data-ad-unit="DAN-9nj9qEee6Ciigf2K" data-ad-width="160" data-ad-height="600"></ins>
    <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
</div>