<div class="leftBanner">    
    <!-- <a href="https://arca.live/b/actioncyphers/112431793?p=1" target="_blank">
        <img src="/image/nodoBanner.webp" class="nodoBanner" />
    </a> -->
    <ins class="kakao_ad_area" style="display:none;" data-ad-unit="DAN-9nj9qEee6Ciigf2K" data-ad-width="160" data-ad-height="600"></ins>
    <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
</div>