<script type="text/javascript">
    function notOpper() {
        alert("이전시즌의 데이터로 당분간 제공하지 않습니다.");
    }
</script>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">마을주민1 검색기</a>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li id="mainMenu" class="nav-item">
                <a class="nav-link" href="/">전적 검색(다수) <span class="sr-only">(current)</span></a>
            </li>

            <li id="userDetailMenu" class="nav-item">
                <a class="nav-link" href="/userDetail">상세 검색</a>
            </li>

            <li id="userVsMenu" class="nav-item">
                <a class="nav-link" href="/userVs">VS(갈등을빚자)</a>
            </li>

            <li id="combi" class="nav-item">
                <a class="nav-link" href="/combi">조합통계</a>
            </li>

            <li id="userChart" class="nav-item">
                <a class="nav-link" href="/userChart">차트</a>
            </li>

            <li id="userHistory" class="nav-item">
                <a class="nav-link" href="/history/nicknameHistory">닉변이력</a>
            </li>

        </ul>
    </div>
</nav>