<script type="text/javascript">
    function notOpper() {
        alert("이전시즌의 데이터로 당분간 제공하지 않습니다.");
    }
</script>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">마을주민 검색기</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li id="mainMenu" class="nav-item active">
                <a class="nav-link" href="/userSearch">전적 검색(다수) <span class="sr-only">(current)</span></a>
            </li>
            <li id="userDetailMenu" class="nav-item active">
                <a class="nav-link" href="/userDetail">상세 검색(1차작업) </a>
            </li>
            <li id="userVsMenu" class="nav-item">
                <a class="nav-link" href="/userVs">VS(갈등을빚자)</a>
            </li>
            <li id="combi" class="nav-item">
                <a class="nav-link" href="/combi/combi">조합통계</a>
            </li>

            <li id="combi" class="nav-item">
                <a class="nav-link" href="/history/nicknameHistory">닉변이력</a>
            </li>

        </ul>
    </div>
</nav>



<div class="dropdown" style="background-color:white">

</div>