<script type="text/javascript">
    function notOpper() {
        alert("이전시즌의 데이터로 당분간 제공하지 않습니다.");
    }
</script>

<header>
    <h1>
        <a href="/">
            <img src="/image/titleIcon.png" class="mainIcon" alt="">
        </a>
    </h1>
    <nav>
        <ul>
            <li>
                <a href="/user/userSearch">전적 검색</a>
                <ul>
                    <li>
                        <a href="/user/userSearch">세로</a>
                    </li>
                    <li id="userSearch_vertical">
                        <a href="/user/userSearch_vertical">가로</a>
                    </li>
                    <li id="userDetailMenu">
                        <a href="/user/userDetail">상세</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/user/userVs">특수</a>
                <ul>
                    <li id="userVsMenu">
                        <a href="/user/userVs">갈등을 빚자</a>
                    </li>
                    <li id="userCounterMenu">
                        <a href="/userDetail/userCounter">인간상성</a>
                    </li>
                    <li id="userHistory">
                        <a href="/history/nicknameHistory">닉변이력</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/position/positionAttr">통계</a>
                <ul>
                    <li id="positionAttr">
                        <a href="/position/positionAttr">특성통계</a>
                    </li>
                    <li id="userChart">
                        <a href="/rankChart/userChart">랭킹 차트</a>
                    </li>
                    <li id="stats2024h">
                        <a href="/stats/stats2024h">결산</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="https://blog.naver.com/dododosa">기타</a>
                <ul>
                    <li id="notice">
                        <a href="https://blog.naver.com/dododosa">공지</a>
                    </li>
                    <li id="teamDiv">
                        <a href="http://teamDiv.doseh.co.kr">팀나눠</a>
                    </li>
                    <li id="clan">
                        <a href="http://clan.doseh.co.kr" target="_blank">마주클</a>
                    </li>
                    <li id="androidApp">
                        <a href="http://doseh.co.kr/image/cyphers_%EB%A7%88%EC%9D%84%EC%A3%BC%EB%AF%BC%EA%B2%80%EC%83%89%EA%B8%B0.apk">android</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</header>

<div id="bi" style="position: fixed;right: 15px;bottom: 5px;">
    <a href="http://developers.neople.co.kr" target="_blank">
        <img style="width:132px;height:37px" alt="Neople 오픈 API" src="/image/bi_color.png" />
    </a>
</div>