<script type="text/javascript">
    function notOpper() {
        alert("이전시즌의 데이터로 당분간 제공하지 않습니다.");
    }
</script>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">마을주민 검색기</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li id="mainMenu" class="nav-item active">
                <a class="nav-link" target="_self" href="/user/userSearch">전적 검색(다수) <span class="sr-only">(current)</span></a>
            </li>
            <li id="userDetailMenu" class="nav-item active">
                <a class="nav-link" target="_self" href="/user/userDetail">상세 검색</a>
            </li>
            <li id="userCounterMenu" class="nav-item">
                <a class="nav-link" target="_self" href="/userDetail/userCounter">인간상성(beta)</a>
            </li>

            <li id="userVsMenu" class="nav-item">
                <a class="nav-link" target="_self" href="/user/userVs">VS(갈등을빚자)</a>
            </li>

            <li id="combi" class="nav-item">
                <a class="nav-link" target="_self" href="/history/nicknameHistory">닉변이력</a>
            </li>

            <li id="clan" class="nav-item">
                <a class="nav-link" target="_blank" href="http://clan.doseh.co.kr">클랜검색</a>
            </li>

            <li id="notice" class="nav-item">
                <a class="nav-link" target="_blank" href="https://blog.naver.com/dododosa">공지</a>
            </li>

            <li id="apk" class="nav-item">
                <a class="nav-link" target="_blank" href="http://doseh.co.kr/image/cyphers_%EB%A7%88%EC%9D%84%EC%A3%BC%EB%AF%BC%EA%B2%80%EC%83%89%EA%B8%B0.apk">androidApp</a>
            </li>

        </ul>
    </div>
</nav>



<div class="dropdown" style="background-color:white">

</div>