<!DOCTYPE html>
<html lang="ko">

<head>

    <%- include  ("../layout/head_mobile") %>
        <script src="/js/charImage.js" crossorigin="anonymous"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                callLoadingBar(false);
                setDatePicker();

                $("#mainMenu").removeClass("active");
                $("#combi").addClass("active");
                //getCombiCount();
            });


            function setDatePicker() {
                var yesterday = new Date();
                yesterday.setDate(yesterday.getDate() - 1);
                var yesterdayStr = yesterday.toISOString().slice(0, 10);

                $('#fromDt').datepicker({
                    uiLibrary: 'bootstrap4',
                    iconsLibrary: 'fontawesome',
                    width: 170,
                    locale: 'kr-ko',
                    minDate: '2021-07-15',
                    //value: '2021-07-15',
                    value: '2022-02-17',
                    format: 'yyyy-mm-dd',
                    maxDate: yesterday
                });

                $('#toDt').datepicker({
                    uiLibrary: 'bootstrap4',
                    iconsLibrary: 'fontawesome',
                    width: 170,
                    locale: 'kr-ko',
                    format: 'yyyy-mm-dd',
                    value: yesterdayStr,
                    minDate: function() {
                        return $('#fromDt').val();
                    },
                    maxDate: yesterday
                });

                $(".gj-datepicker").css("float", "left");
            }

            function numberWithCommas(x) {
                return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }

            function getCombiCount() {
                $.ajax({
                    async: true,
                    url: "/combi/combiTotalCount",
                    success: function(result) {
                        $("#totalCount").empty().append(numberWithCommas(result.totalCount) + '건');
                    },
                    error: function(data) {
                        return;
                    }
                }).done(function() {

                });
            }

            function onOffEvent(isOn = false) {
                if (isOn) {
                    $("#searchButton").on("click", searchCombi);
                    $("#charName").on("keyPress", function(event) {
                        if (event.keyCode == 13) {
                            searchCombi();
                        }
                    });
                } else {
                    $("#searchButton").on("click", "");
                    $("#charName").on("onKeyPress", "");
                }
            }

            function callLoadingBar(show) {
                if (show) {
                    $("#loadingbutton").show();
                    $("#searchButton").hide();
                } else {
                    $("#loadingbutton").hide();
                    $("#searchButton").show();
                }
            }

            function isValid() {
                let pattern = /[0-9]{4}-(0?[1-9]|1[012])-(0?[1-9]|[12][0-9]|3[01])/;
                if (!pattern.test($("#fromDt").val())) {
                    alert("시작일이 유효하지 않습니다");
                    return false;
                }

                if (!pattern.test($("#toDt").val())) {
                    alert("종료일이 유효하지 않습니다");
                    return false;
                }

                return true;
            }

            function searchCombi() {
                if (!isValid()) {
                    return;
                }

                onOffEvent();
                callLoadingBar(true);

                let position = $("input[name='position']:checked").val();
                let order = $("input[name='order']:checked").val();

                $.ajax({
                    async: true,
                    url: "/combi/combiSearch",
                    data: {
                        'position': position,
                        'charName': $("#charName").val(),
                        'fromDt': $("#fromDt").val(),
                        'toDt': $("#toDt").val(),
                        'count': $("#count").val(),
                        'order': order
                    },
                    success: function(data) {
                        callLoadingBar(false);
                        onOffEvent(true);
                        //console.log(data);
                        $("#con1_2").empty();

                        var table = $("#matchInfoTemplate").clone();
                        var tbody = table.find("tbody");

                        for (idx in data) {
                            let row = data[idx];
                            let tr = "<tr>";
                            tr += "<td>" + getChars(row.combi.split("|")) + "</td>";
                            tr += "<td>" + row.total + "</td>";
                            tr += "<td>" + row.win + "</td>";
                            tr += "<td>" + row.lose + "</td>";
                            tr += "<td>" + row.late + "</td>";
                            tbody.append(tr);
                        }

                        $("#con1_2").append(table);

                    },
                    error: function(data) {
                        callLoadingBar(false);
                        alert("해당 정보가 없습니다.");
                        onOffEvent(true);
                        return;
                    }
                }).done(function() {
                    callLoadingBar(false);
                });
            }

            function getChars(arr) {
                let images = "";
                if (arr == "") {
                    return "<spna style='font-size:32px;'>탱커 없음</span>";
                }
                for (idx in arr) {
                    images += "&nbsp;&nbsp;&nbsp;<img data-item='" + arr[idx] + "' src='https://img-api.neople.co.kr/cy/characters/" + charMap.get(arr[idx]) + "'>"
                }
                return images;
            }
        </script>
</head>

<body class="body">
    <%- include  ("../layout/menu_mobile") %>

        <div id="main">
            <div class="top" style="height: 125px;">
                <div>
                    <input type="radio" name="position" id="gameType_allJoin" value="allJoin" /><label for="gameType_allJoin"> 전체조합 </label>
                    <input type="radio" name="position" id="gameType_attacker" value="attackerJoin" checked /><label for="gameType_attacker"> 딜러조합 </label>
                    <input type="radio" name="position" id="gameType_tanker" value="tankerJoin" /><label for="gameType_tanker"> 탱커조합 </label>
                </div>
                <div>
                    <input type="radio" name="order" id="order_count" value="count" checked /><label for="order_count"> 판수순 </label>
                    <input type="radio" name="order" id="order_victory" value="victory" /><label for="order_victory"> 승률순 </label>

                    <input type="number" class="width25p" id="count" value="2">판 이상
                </div>
                <div>
                    <div class="datepickerDiv">
                        <input class="datepicker" id="fromDt">
                        <input class="datepicker" id="toDt">
                    </div>
                </div>
            </div>
            <div id="con1" class="con">
                <h3>특정 조합/캐릭검색 </h3>
                <span>공란가능, 띄워쓰기로 구분</span>

                <div class="input-group">
                    <input type="text" id="charName" class="form-control" placeholder="띄워쓰기로 검색 가능 ex) 마을주민1 마을주민2 마을주민3 ..." aria-label="띄워쓰기로 검색 가능 ex) 마을주민1 마을주민2 마을주민3 ..." aria-describedby="searchButton" onKeyPress="if(event.keyCode == 13) { searchCombi(); } ">
                    <div class="input-group-append" id="searchButton">
                        <button class="btn btn-outline-secondary" type="button" onClick="searchCombi();">검색</button>
                    </div>
                    <button id="loadingbutton" class="btn btn-primary" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>                    
                    </button>
                </div>
                <div id="con1_2" class="infoLayer"> </div>
            </div>
        </div>

        <div id="modalDiv">
            <!-- 모달 영역 -->
            <div id="templateModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="templateModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="templateModalLabel">최근 10게임</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <table id="templateTable" class="table table-striped table-condensed">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">포지션</th>
                                        <th scope="col">캐릭터</th>
                                        <th scope="col">KDA</th>
                                        <th scope="col">딜량</th>
                                        <th scope="col">피해량</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="display:none">
            <table id="matchInfoTemplate" class="table table-striped table-condensed">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">조합</th>
                        <th scope="col">판수</th>
                        <th scope="col">승</th>
                        <th scope="col">패</th>
                        <th scope="col">승률</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
</body>

</html>