<!DOCTYPE html>
<html lang="ko">

<head>

    <%- include  ("../layout/head_mobile") %>
        <script type="text/javascript">
            $(document).ready(function() {
                $("#mainMenu").removeClass("active");
                $("#combi").addClass("active");
                getCombiCount();
            });

            function numberWithCommas(x) {
                return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }

            function getCombiCount() {
                $.ajax({
                    async: false,
                    url: "/combiTotalCount",
                    success: function(result) {
                        $("#totalCount").empty().append(numberWithCommas(result.totalCount) + '건');
                    },
                    error: function(data) {
                        return;
                    }
                }).done(function() {

                });
            }

            function onOffEvent(isOn = false) {
                if (isOn) {
                    $("#searchButton").on("click", searchCombi);
                    $("#charName").on("keyPress", function(event) {
                        if (event.keyCode == 13) {
                            searchCombi();
                        }
                    });
                } else {
                    $("#searchButton").on("click", "");
                    $("#charName").on("onKeyPress", "");
                }
            }

            function searchCombi() {
                onOffEvent();

                let position = $("input[name='position']:checked").val();
                $.ajax({
                    async: false,
                    url: "/combiSearch",
                    data: {
                        'position': position,
                        'charName': $("#charName").val()
                    },
                    success: function(data) {
                        onOffEvent(true);
                        //console.log(data);
                        $("#con1_2").empty();

                        var table = $("#matchInfoTemplate").clone();
                        var tbody = table.find("tbody");

                        for (idx in data) {
                            let row = data[idx];
                            let tr = "<tr>";
                            tr += "<td>" + row.combi + "</td>";
                            tr += "<td>" + row.total + "</td>";
                            tr += "<td>" + row.win + "</td>";
                            tr += "<td>" + row.lose + "</td>";
                            tr += "<td>" + row.late + "</td>";
                            tbody.append(tr);
                        }

                        $("#con1_2").append(table);

                    },
                    error: function(data) {
                        alert("해당 정보가 없습니다.");
                        onOffEvent(true);
                        return;
                    }
                }).done(function() {

                });
            }
        </script>
</head>

<body class="body">
    <%- include  ("../layout/menu_mobile") %>

        <div id="main">
            <div class="top" style="height: 130px">
                <input type="radio" name="position" id="gameType_attacker" value="attackerJoin" checked /><label for="gameType_attacker"> 딜러조합 </label>
                <input type="radio" name="position" id="gameType_tanker" value="tankerJoin" /><label for="gameType_tanker"> 탱커조합 </label>
                <input type="radio" name="position" id="gameType_allJoin" value="allJoin" /><label for="gameType_allJoin"> 전체조합 </label>

                <div>
                    * 랭킹 500위 이내 사용자의 <span id="totalCount">3만 5천건</span>의 통계 제공
                </div>
                <div><b> <a href="http://cyphers.doseh.co.kr" >cyphers.doseh.co.kr</a></b> 로 이사합니다 <br>(여긴 9월말까지 유지해요~) </div>
            </div>
            <div id="con1" class="con">
                <h3>특정 조합/캐릭검색 </h3>
                <span>공란가능, 띄워쓰기로 구분</span>
                <input type="text" class="longText" id="charName" onKeyPress="if(event.keyCode == 13) { searchCombi(); } " placeholder="검색 ex) 클레어 나이오비 " />
                <input type="button" id="searchButton" value="검색" onClick="searchCombi();">
                <div id="con1_2" class="infoLayer"> </div>
            </div>

            <div id="bottom" class="bottom">
                ※ 문의/요청 <br/> - dododosa@naver.com 또는 마을주민1로 쪽지<br/> - IE는 지원 보류합니다. 기능부터 다 채우고 할 예정.. (크롬쓰세요 크롬) <br/> - 검색 일자는 이번 시즌부터 검색이 됩니다. <br/>
            </div>
        </div>

        <div id="modalDiv">
            <!-- 모달 영역 -->
            <div id="templateModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="templateModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="templateModalLabel">최근 10게임</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <table id="templateTable" class="table table-striped table-condensed">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">포지션</th>
                                        <th scope="col">캐릭터</th>
                                        <th scope="col">KDA</th>
                                        <th scope="col">딜량</th>
                                        <th scope="col">피해량</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="display:none">
            <table id="matchInfoTemplate" class="table table-striped table-condensed">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">조합</th>
                        <th scope="col">판수</th>
                        <th scope="col">승</th>
                        <th scope="col">패</th>
                        <th scope="col">승률</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
</body>

</html>