<html lang="ko">

<head>
    <%- include  ("../layout/head_mobile") %>

        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script type="text/javascript">

            var nickname;
            var userData = {};
            pageName = "mDetail";

            
            $(document).ready(function () {
                showSearchHistory();
            });

            function searchDetail() {
                searchUser("nickNames", null, $("#nickNames").val(), setUserDetailInfo);
            }

            function setUserDetailInfo(data) {
                let gameType = $("input[name='gameType']:checked").val();

                $("#con1_2").empty();
                $("#con2_2").empty();

                drawLeftInfo(gameType, data);
                drawRightInfo(gameType, data);
            }

            function drawRightInfo(gameType, data) {
                var div = $("#template2").clone();

                var rows = data.matches.rows.filter(row => row.playInfo.playTypeName == "정상" || row.playInfo.result == "승리" ).sort((a, b) => new Date(b.date) - new Date(a.date));
                drawMapInfo(rows, div, 101, '리버포드', "#river"); //리버포드
                drawMapInfo(rows, div, 102, '메트로폴리스', "#metro"); //메트로폴리스
                drawMapInfo(rows, div, 103, '브리스톨', "#bristol"); //브리스톨
                drawMapInfo(rows, div, 104, '스프링필드', "#spring"); //스프링필드
                drawMapInfo(rows, div, 105, '그랑플람 아시아 지부', "#asia"); //그랑플람 아시아 지부
                drawMapInfo(rows, div, 106, '리버포드 앳 던', "#atDawn"); //그랑플람 아시아 지부

                div.show();

                $("#con2_2").empty().append(div);
            }

            function drawLeftInfo(gameType, data) {
                userData = {}; //초기화
                nickname = data.nickname;
                if (userData[nickname] == null) {
                    userData[nickname] = data;
                }

                var rating = data.records.filter(game => game.gameTypeId == gameType)[0] || { loseCount: 0, stopCount: 0, winCount: 0 };
                var pov = ((rating.winCount * 100) / (rating.winCount + rating.loseCount)) || 0;

                //기본 정보
                var clone = $("#template").clone();
                clone.attr("id", getUserDivId(gameType, nickname));
                $(clone).find("#gameTypeDiv").text("[" + (gameType == 'rating' ? "공식전" : "일반전") + "]");
                $(clone).find("#nickNameDiv").text(data.nickname);
                $(clone).find("#levelDiv").text(data.grade + "급");
                $(clone).find("#clanDiv").text(data.clanName);

                $(clone).find("#currRP").text(data.ratingPoint);
                $(clone).find("#maxRP").text(data.maxRatingPoint);
                $(clone).find("#playGameDiv").text("승률 : " + pov.toFixed(0) + "% [" + rating.winCount + "승 " + rating.loseCount + "패 " + rating.stopCount + "중단]");

                var rows = data.matches.rows.filter(row => row.playInfo.playTypeName == "정상" || row.playInfo.result == "승리" ).sort((a, b) => new Date(b.date) - new Date(a.date));

                //포지션 별 승률
                getUserPositionInfo(data.playerId, clone.find("#positionDiv"));
                // drawPosition(clone, rows, nickname);

                //최근 5경기 결과
                drawRecently(clone, rows);

                //일별 승패
                drawDailyResult(clone, calcDaily(rows));

                //자주하는 캐릭
                var userChar = extractChar(rows, sortCase);
                //drawCharInfo(clone, userChar, "자주하는 TOP"); //"높은승률 TOP"
                drawOften(clone, userChar, drawCharCardVer);

                clone.show();
                $("#con1_2").prepend(clone);
            }

            const getUserPositionInfo = (playerId, div) => {
                var result;
                $.ajax({
                    async: true,
                    url: "/matchesMap/getMatchesMap",
                    data: {"playerId" : playerId},
                    success: function(data) {
                        try {
                            callLoadingBar(false);
                        } catch (e) {

                        }
                        setUserPosition(div, data);
                    },
                    error: function(data) {
                        if (typeof callLoadingBar == 'function') {
                            callLoadingBar(false);
                        }
                        return;
                    }
                }).done(function() {
                    if (typeof callLoadingBar == 'function') {
                        callLoadingBar(false);
                    }
                });
            }

            const setUserPosition = (div, data) => {
                const emptyObj = { "win_count" : 0, "lose_count" : 0, "total_games" : 0};
                drawUserPosition(div, "극방",  data.filter(item => item.POSITION === "극방")[0] || emptyObj);
                drawUserPosition(div, "방벨",  data.filter(item => item.POSITION === "방벨")[0] || emptyObj);
                drawUserPosition(div, "공벨",  data.filter(item => item.POSITION === "공벨")[0] || emptyObj);
                drawUserPosition(div, "극공",  data.filter(item => item.POSITION === "극공")[0] || emptyObj);
            }

            const drawUserPosition = (div, type, data) => {
                let imgUrl = "/image/position/";
                switch(type){
                    case "극방" : imgUrl += "defence.png";  break;
                    case "방벨" : imgUrl += "defenceBal.png";  break;
                    case "공벨" : imgUrl += "attackBal.png";  break;
                    case "극공" : imgUrl += "attack.png";  break;
                }

                const {win_count, lose_count, total_games} = data;
                const winRate = ((win_count / total_games) * 100) || 0;
                const infoStr = `${winRate.toFixed(2)}% <br><small class='text-muted'>${win_count}승 ${lose_count}패</small>`;

                $(div).append(`
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-md-5">
                            <img src="${imgUrl}">
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <p id="tankerSpan" class="card-text">${infoStr}</p>
                            </div>
                        </div>
                    </div>
                </div>`);
            }

            //캐릭터 승률
            function drawCharCardVer(div, charInfo) {
                let pov = ((charInfo.win * 100) / charInfo.count);                
                div.append(`<div class="card" >
                        <div class="row no-gutters">
                            <div class="charImg">
                                <img src="https://img-api.neople.co.kr/cy/characters/${charInfo.characterId}">
                            </div>
                            <div>
                                <div class="card-body">
                                    <p class="card-text">
                                        ${pov.toFixed(0)}% <br/> <small class='text-muted'>${charInfo.win}승 ${charInfo.lose}패</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>`);
            }

            /***
             * 맵별 포지션 승률
             */
             function drawMapInfo(rows, div, mapId, mapName, divId) {
                //포지션별 승률
                let mapRow = extractMap(rows, mapName);
                showMapRate(div.find(divId).find(".mapRate"), mapRow);
                // drawPosition(div.find(divId), mapRow, nickname);
                let userMapChar = extractChar(mapRow, highScore);
                drawOften(div.find(divId).find("#often"), userMapChar, drawCharCardVer, nickname);
            }

            const showMapRate = (div, mapRow) => {
                const totalCount = mapRow.length;
                const winCount = mapRow.filter(row => row.playInfo.result == 'win').length;
                div.empty().append(`(승률: ${((winCount/totalCount) * 100).toFixed(0)}% / ${totalCount}전 ${winCount}승 ${totalCount - winCount} 패 )`);
            }

        </script>
</head>

<body class="body">
    <%- include  ("../layout/menu_mobile") %>

        <div id="main">
            <div class="top">
                <input type="radio" name="gameType" id="gameType_rating" value="rating" checked />
                <label for="gameType_rating"> 공식 </label>
                <input type="radio" name="gameType" id="gameType_normal" value="normal" />
                <label for="gameType_normal"> 일반 </label><br>
                <input type="text" id="nickNames" onKeyPress="if(event.keyCode == 13) { searchDetail('nickNames'); } " placeholder="한명만 검색하세요" />
                <input type="button" value="검색" onClick="searchDetail('nickNames');">
            </div>
            <div id="topHistory" class="top" ></div>
            <div id="con1" class="con" style="min-height: 430px;">
                <div id="con1_2" class="infoLayer2"> </div>
            </div>
            <div id="con2" class="con">
                <div class="title">맵별 승률</div>
                <div id="con2_2" class="infoLayer2"> </div>
            </div>
        </div>

        <div id="template" class="infoDiv" style="display:none">

            <div id="defaultDiv">
                <div id="gameTypeDiv" class="red bold width100p"></div>
                <div class="width100p">
                    <div id="nickNameDiv" class="width40p bold"> </div>
                    <div id="levelDiv" class="width20p"></div>
                    <div id="clanDiv" class="width40p"></div>
                </div>
                <div class="width100p">
                    <div class="width100p">
                        RP : <span id="tierName"></span>&nbsp;
                        <span id="currRP" class="bold"></span>
                        <span id="maxRP"></span>
                        <span id="beforeSeason"></span>
                    </div>
                    <!-- <div class="width25p">최고 rp : </div> -->
                    <div id="playGameDiv">
                        <!-- 승률 : 50% [100승 101패 2중단]-->
                    </div>
                </div>
                <div id="playParty" class="width100p playParty"></div>
            </div>

            <!-- 포지션별 승률 -->
            <div id="positionDiv" class="positionDiv">
                
            </div>

            <!-- 자주하는 캐릭-->
            <div id="mostCharDiv" class="mostCharDiv">
                <div id="mostCharTitleDiv" class="width100p bold">자주하는캐릭 TOP3</div>
                <div id="mostCharDetailDiv"></div>
            </div>

            <div id="recentlyDiv">
                <div class="width100p bold" id="recentlyDivTitle">
                    <!--최근 10게임 -->
                </div>
            </div>

            <div>
                <label><b>일별 승패</b>
                    <i class="fas fa-angle-double-down" data-bs-toggle="collapse" data-bs-target="#moreDailyResult" aria-expanded="true"></i>
                </label>

                <div id="dailyResult" class="dailyResult width100p">
                    
                </div>

                <div id="moreDailyResult" class="collapse width100p">

                </div>
            </div>
        </div>

        <div id="template2" style="display:none">
            <div id="river" class="mapCard">
                <div class="title bold width100p">리버포드</div>
                <div id="positionDiv" class="positionDiv"></div>
                <div id="often" class="width100p mostCharDiv">
                    <div id="mostCharTitleDiv" class="width100p bold">자주하는캐릭 TOP3</div>
                    <div id="mostCharDetailDiv"></div>
                </div>
            </div>
            <div id="metro" class="mapCard">
                <div class="title bold width100p">메트로폴리스</div>
                <div id="positionDiv" class="positionDiv"></div>
                <div id="often" class="width100p mostCharDiv">
                    <div id="mostCharTitleDiv" class="width100p bold">자주하는캐릭 TOP3</div>
                    <div id="mostCharDetailDiv"></div>
                </div>
            </div>
            <div id="bristol" class="mapCard">
                <div class="title bold width100p">브리스톨</div>
                <div id="positionDiv" class="positionDiv"></div>
                <div id="often" class="width100p mostCharDiv">
                    <div id="mostCharTitleDiv" class="width100p bold">자주하는캐릭 TOP3</div>
                    <div id="mostCharDetailDiv"></div>
                </div>
            </div>
            <div id="spring" class="mapCard">
                <div class="title bold width100p">스프링필드</div>
                <div id="positionDiv" class="positionDiv"></div>
                <div id="often" class="width100p mostCharDiv">
                    <div id="mostCharTitleDiv" class="width100p bold">자주하는캐릭 TOP3</div>
                    <div id="mostCharDetailDiv"></div>
                </div>
            </div>
            <div id="asia" class="mapCard">
                <div class="title bold width100p">그랑플람 아시아지부</div>
                <div id="positionDiv" class="positionDiv"></div>
                <div id="often" class="width100p mostCharDiv">
                    <div id="mostCharTitleDiv" class="width100p bold">자주하는캐릭 TOP3</div>
                    <div id="mostCharDetailDiv"></div>
                </div>
            </div>
            <div id="atDawn" class="mapCard">
                <div class="title bold width100p">리버포드 앳 던</div>
                <div id="positionDiv" class="positionDiv"></div>
                <div id="often" class="width100p mostCharDiv">
                    <div id="mostCharTitleDiv" class="width100p bold">자주하는캐릭 TOP3</div>
                    <div id="mostCharDetailDiv"></div>
                </div>
            </div>

        </div>


        <div id="modalDiv">
            <!-- 모달 영역 -->
            <div id="templateModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="templateModalLabel  ">
                <div class="modal-dialog modal-dialog-scrollable modal-xl modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="templateModalLabel">최근 10게임</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <table id="templateTable" class="table table-striped">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">날짜</th>
                                        <th scope="col">파티</th>
                                        <th scope="col">결과</th>
                                        <th scope="col">P</th>
                                        <th scope="col">C</th>
                                        <th scope="col">KDA</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div id="templateDetailModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="templateDetailModalLabel">
                <div class="modal-dialog modal-dialog-scrollable modal-xl modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title" id="templateDetailModalLabel"></h6>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <table id="matchInfoTemplate" class="table table-striped table-condensed">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">r</th>
                                        <th scope="col">p</th>
                                        <th scope="col">2</th>
                                        <th scope="col">c</th>
                                        <th scope="col">buff/닉네임</th>
                                        <th scope="col">KDA<br>딜/피해</th>
                                        <th scope="col">코인<br>소모품(%)</th>
                                        <th scope="col">[+]</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div hide>
                    <a id="matchBtn" data-bs-toggle='modal' data-bs-target=''></a>
                </div>
            </div>


        </div>

</body>

</html>