<!DOCTYPE html>
<html lang="ko">

<head>

    <%- include  ("../layout/head_mobile") %>
        <script type="text/javascript">
            $(document).ready(function() {
                $("#partyShow").on("change", checkVisibility);
                $("#positionShow").on("change", checkVisibility);
                $("#mostCharShow").on("change", checkVisibility);
                $("#recentShow").on("change", checkVisibility);
            });

            function checkVisibility() {
                setVisible("playParty", $("#partyShow").is(":checked"));
                setVisible("positionDiv", $("#positionShow").is(":checked"));
                setVisible("mostCharDiv", $("#mostCharShow").is(":checked"));
                setVisible("recentlyDiv", $("#recentShow").is(":checked"));
            }

            function setVisible(classId, isShow) {
                let div = $("." + classId);
                if (isShow) {
                    div.show();
                } else {
                    div.hide();
                }
            }

            function setUserInfo(gameType, divName, data) {
                var rating = data.records.filter(game => game.gameTypeId == gameType)[0];
                var userDivId = getUserDivId(gameType, data.nickname);
                //기본 정보 
                var clone = $("#template").clone();
                clone.attr("id", userDivId);
                $(clone).find("#gameTypeDiv").text("[" + (gameType == 'rating' ? "공식전" : "일반전") + "]");

                drawDefault(clone, data, rating);

                var rows = data.matches.rows;

                //파티 별?
                drawPartyType(userDivId, clone.find("#playParty"), rows);

                //포지션별 승률
                drawPosition(clone, rows);

                //최근 10경기 결과
                drawRecently(clone, rows, userDivId);

                //자주하는 캐릭
                var userChar = extractChar(rows, sortCase);
                drawOften(clone, userChar, drawCharCardVer);

                clone.show();
                $("#" + divName).append(clone);
            }

            //기본정보
            function drawDefault(div, data, rating) {
                var pov = (rating.winCount * 100) / (rating.winCount + rating.loseCount);
                $(div).find("#nickNameDiv").append(data.nickname + " <a href='javascript:openDetail(\"" + data.nickname + "\");' ><i class='red fas fa-caret-square-right'></i></a>");
                $(div).find("#nickNameDiv").append(" <a href='javascript:nickHistory(\"" + data.playerId + "\");' ><i class='red fas fas fa-heading'></i></a>");
                $(div).find("#levelDiv").text(data.grade + "급");
                $(div).find("#clanDiv").text(data.clanName);

                getTierColerName($(div).find("#tierName"), data.tierName);
                if (data.ratingPoint != null) {
                    $(div).find("#currRP").text(data.ratingPoint);
                    $(div).find("#maxRP").text("( " + data.maxRatingPoint + " )");
                }

                $(div).find("#playGameDiv").text("승률 : " + pov.toFixed(0) + "% [" + rating.winCount + "승 " + rating.loseCount + "패 " + rating.stopCount + "중단]");
            }

            function getTierColerName(span, tierName) {
                let name = tierName;
                if (name == null) {
                    name = "Unrank";
                }
                span.addClass(name);
                span.text(name);
            }

            function nickHistory(nickId) {
                historyNickname(nickId, showNickHistory);
            }

            function showNickHistory(data) {
                let info = "";
                for (idx in data) {
                    let row = data[idx];
                    info += row.season + " " + row.nickname + " 체크일(닉변일아님):" + row.checkingDate + "\n";
                }
                if (data.length == 0) {
                    info = "수집된 닉변기록이 없습니다";
                }
                alert(info);
            }

            //파티별 승률 (솔로/파티)
            function drawPartyType(userDivId, clone, row) {
                let partyJson = extractParty(row);
                //console.log(partyJson);

                let soloAllCnt = partyJson.solo.win + partyJson.solo.lose;
                let partyAllCnt = partyJson.all.win + partyJson.all.lose;

                clone.append("솔플: " + soloAllCnt + "전 " + partyJson.solo.win + "승 " + partyJson.solo.lose + "패, ");
                clone.append("파티: " + partyAllCnt + "전 " + partyJson.all.win + "승 " + partyJson.all.lose + "패 ");

                let hasParty = (partyJson.two.all + partyJson.three.all + partyJson.five.all) != 0;
                if (hasParty) {
                    clone.append("<br>");
                }

                if (partyJson.two.all != 0) {
                    clone.append("2인: " + partyJson.two.win + "승 " + partyJson.two.lose + "패 ");
                    clone.append("<a data-toggle='collapse' href='#two" + userDivId + "' role='button' aria-expanded='false' aria-controls='two" + userDivId + "'' >[상세]</a>,    ");
                }

                if (partyJson.three.all != 0) {
                    clone.append("3인: " + partyJson.three.win + "승 " + partyJson.three.lose + "패 ");
                    clone.append("<a data-toggle='collapse' href='#three" + userDivId + "' role='button' aria-expanded='false' aria-controls='three" + userDivId + "'' >[상세]</a>,    ");
                }

                if (partyJson.five.all != 0) {
                    clone.append("5인: " + partyJson.five.win + "승 " + partyJson.five.lose + "패 ");
                    clone.append("<a data-toggle='collapse' href='#five" + userDivId + "' role='button' aria-expanded='false' aria-controls='five" + userDivId + "'' >[상세]</a>,    ");
                }

                if (hasParty) {
                    clone.append("<br>");
                }

                clone.append("<div class='row'>");
                if (partyJson.two.all != 0) {
                    let partyResult = getEachPartyResult(partyJson.two.party);
                    clone.append("<div class='collapse multi-collapse width100p' id='two" + userDivId + "'>" + partyResult + "</div>");
                }
                if (partyJson.three.all != 0) {
                    let partyResult = getEachPartyResult(partyJson.three.party);
                    clone.append("<div class='collapse multi-collapse width100p' id='three" + userDivId + "'>" + partyResult + "</div>");
                }
                if (partyJson.five.all != 0) {
                    let partyResult = getEachPartyResult(partyJson.five.party);
                    clone.append("<div class='collapse multi-collapse width100p' id='five" + userDivId + "'>" + partyResult + "</div>");
                }

                clone.append("</div>");
            }

            function getEachPartyResult(arr) {
                let resultTable = "<table class='table'> ";
                resultTable += "<thead class='thead-dark'><tr>";
                resultTable += "<th scope='col'>파티원</th>";
                resultTable += "<th scope='col'>승</th>";
                resultTable += "<th scope='col'>패</th>";
                resultTable += "</tr></thead><tbody>";

                for (idx in arr) {
                    let row = arr[idx];
                    resultTable += "<tr>";
                    resultTable += "<th scope='row'>" + row.name + "</th>";
                    resultTable += "<td>" + row.win + "</td>";
                    resultTable += "<td>" + row.lose + "</td>";
                    resultTable += "</tr>";

                }
                resultTable += "</tbody></table>";

                return resultTable;
            }

            function extractParty(rows) {
                let partyResult = {
                    solo: {
                        win: 0,
                        lose: 0
                    },
                    all: {
                        all: 0,
                        win: 0,
                        lose: 0
                    },
                    two: {
                        all: 0,
                        win: 0,
                        lose: 0,
                        party: {}
                    },
                    three: {
                        all: 0,
                        win: 0,
                        lose: 0,
                        party: {}
                    },
                    five: {
                        all: 0,
                        win: 0,
                        lose: 0,
                        party: {}
                    },
                };

                let solo = rows.filter(row => row.playInfo.partyInfo.length == 0);
                partyResult.solo.win = solo.filter(row => row.playInfo.result == 'win').length;
                partyResult.solo.lose = (solo.length - partyResult.solo.win);

                let party = rows.filter(row => row.playInfo.partyInfo.length != 0);
                for (let i in party) {
                    let matchId = party[i].matchId;
                    let playInfo = party[i].playInfo;
                    let cnt = playInfo.partyUserCount;

                    addPlayResult(partyResult.all, matchId, playInfo, false);
                    if (cnt == 2) {
                        addPlayResult(partyResult.two, matchId, playInfo, true);
                    } else if (cnt == 3) {
                        addPlayResult(partyResult.three, matchId, playInfo, true);
                    } else if (cnt == 5) {
                        addPlayResult(partyResult.five, matchId, playInfo, true);
                    }
                }
                return partyResult;
            }

            function addPlayResult(subPartyResult, matchId, data, isParty) {
                subPartyResult[data.result]++;
                subPartyResult["all"]++;

                if (isParty) {
                    let partyId = data.partyInfo.map(row => row.playerId).sort().join(",");
                    let partyName = data.partyInfo.map(row => row.nickname).sort().join(",");

                    if (subPartyResult.party[partyId] == null) {
                        subPartyResult.party[partyId] = {
                            matchId: [],
                            name: "",
                            all: 0,
                            win: 0,
                            lose: 0
                        };
                    }
                    subPartyResult.party[partyId].all++;
                    subPartyResult.party[partyId][data.result]++;
                    subPartyResult.party[partyId].name = partyName;
                    subPartyResult.party[partyId].matchId.push(matchId);
                }
            }

            //캐릭터 승률
            function drawCharCardVer(div, charInfo) {
                var card = $(div).find("#cardTemp").clone();
                card.removeAttr("id");
                card.removeAttr("hidden");
                card.find(".charImg").append("<img src='https://img-api.neople.co.kr/cy/characters/" + charInfo.characterId + "' />");
                var pov = (charInfo.win * 100) / charInfo.count;
                card.find(".card-text").empty().append(pov.toFixed(0) + "% <br/> <small class='text-muted'>" + charInfo.win + "승 " + charInfo.lose + "패</small>");
                div.append(card);
            }
        </script>
</head>

<body class="body">
    <%- include  ("../layout/menu_mobile") %>

        <div id="main">
            <div class="top">
                <input type="radio" name="gameType" id="gameType_rating" value="rating" checked /><label for="gameType_rating"> 공식 </label>
                <input type="radio" name="gameType" id="gameType_normal" value="normal" /><label for="gameType_normal"> 일반 </label>
                <!-- <b>닉변은 공식전 기준으로 2021년 7월17일 기준으로 수집된 <span class="red">공식전</span> 데이터를 기반으로 제공됩니다.  </b>-->

                <div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="positionShow" checked>
                        <label class="form-check-label" for="positionShow">포지션 노출</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="partyShow" checked>
                        <label class="form-check-label" for="partyShow">파티 노출</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="mostCharShow" checked>
                        <label class="form-check-label" for="mostCharShow">자주하는 캐릭 노출</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="recentShow" checked>
                        <label class="form-check-label" for="recentShow">최근 10게임 노출</label>
                    </div>
                </div>

            </div>
            <div id="con1" class="con">
                <input type="text" class="longText" id="nickNames" onKeyPress="if(event.keyCode == 13) { search('nickNames', 'con1_2'); } " placeholder="띄워쓰기로 검색 가능 ex) 마을주민1 마을주민2 마을주민3 ..." />
                <input type="button" value="검색" onClick="search('nickNames', 'con1_2');">
                <div id="con1_2" class="infoLayer"> </div>
            </div>

            <!-- <div id="bottom" class="bottom">
                ※ 문의/요청 <br/> - dododosa@naver.com 또는 마을주민1로 쪽지<br/> - IE는 지원 보류합니다. 기능부터 다 채우고 할 예정.. (크롬쓰세요 크롬) <br/> - 검색 일자는 이번 시즌부터 검색이 됩니다. <br/>
                <br/>
                <h2>패치노트</h2>
                - 2021-04-04 MOBILE UI 1차 수정 <br/> - 2021-04-03 PC UI 1차 수정 <br/> - 2021-04-03 일반전 검색기능 개발 <br/> - 2021-04-02 사용자 조회 실패시 오류 메시지 추가 <br/> - 2021-04-02 게임판수가 10판이하일때 오류가 발생하던 현상 수정 <br/> - 2021-04-01#2 검색시간을 UTC로 검색하던 이슈 수정(최근9시간 누락) <br/>                - 2021-04-01#1 포지션 아이콘 변경 <br/> - 2021-03-31 최근 10게임 결과 노출기능 추가 <br/>
            </div>-->
        </div>

        <div id="template" class="infoDiv" style="display:none">
            <div id="defaultDiv">
                <div id="gameTypeDiv" class="red bold width100p"></div>
                <div class="width100p">
                    <div id="nickNameDiv" class=" bold"> </div>
                    <div id="levelDiv" class=""></div>
                    <div id="clanDiv" class=""></div>
                </div>
                <div class="width100p">
                    <div class="width100p">RP : <span id="tierName"></span>&nbsp;<span id="currRP" class="bold"></span><span id="maxRP"></span></div>
                    <!-- <div class="width25p">최고 rp : </div> -->
                    <div id="playGameDiv">
                        <!-- 승률 : 50% [100승 101패 2중단]-->
                    </div>
                </div>
                <div id="playParty" class="width100p playParty"></div>
            </div>

            <!-- 포지션별 승률 -->
            <div id="positionDiv" class="positionDiv">
                <div id="positionTanker" class="card">
                    <div class="row no-gutters">
                        <div>
                            <img src="http://static.cyphers.co.kr/img/game_position/position1.jpg">
                        </div>
                        <div>
                            <div class="card-body">
                                <p id="tankerSpan" class="card-text">57% <br> <small class="text-muted">79승 60패</small></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="positionMelee" class="card">
                    <div class="row no-gutters">
                        <div>
                            <img src="http://static.cyphers.co.kr/img/game_position/position2.jpg">
                        </div>
                        <div>
                            <div class="card-body">
                                <p id="meleeSpan" class="card-text">57% <br> <small class="text-muted">79승 60패</small></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="positionAd" class="card">
                    <div class="row no-gutters">
                        <div>
                            <img src="http://static.cyphers.co.kr/img/game_position/position3.jpg">
                        </div>
                        <div>
                            <div class="card-body">
                                <p id="adSpan" class="card-text">57% <br> <small class="text-muted">79승 60패</small></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="positionSupp" class="card">
                    <div class="row no-gutters">
                        <div>
                            <img src="http://static.cyphers.co.kr/img/game_position/position4.jpg">
                        </div>
                        <div>
                            <div class="card-body">
                                <p id="suppSpan" class="card-text"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 자주하는 캐릭-->
            <div id="mostCharDiv" class="mostCharDiv">
                <div id="mostCharTitleDiv" class="width100p bold">자주하는캐릭 TOP3</div>
                <div id="mostCharDetailDiv">
                    <div id="cardTemp" class="card" hidden>
                        <div class="row no-gutters">
                            <div class="charImg">
                                <!-- <img src="https://img-api.neople.co.kr/cy/characters/5f4c4d6d332766ca219af12dfc41f124">-->
                            </div>
                            <div>
                                <div class="card-body">
                                    <p class="card-text">
                                        <!-- 57% <br> <small class="text-muted">79승 60패 </small>-->
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="recentlyDiv" class="width100p recentlyDiv">
                <div class="width100p bold" id="recentlyDivTitle">
                    <!--최근 10게임 -->
                </div>
                <!-- <div id="recentlyResultDiv">
                    <a data-toggle="modal" data-target="#templateModal">[더보기]</a>
                </div>  -->
            </div>
        </div>

        <div id="modalDiv">
            <!-- 모달 영역 -->
            <div id="templateModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="templateModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="templateModalLabel">최근 10게임</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <table id="templateTable" class="table table-striped table-condensed">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">포지션</th>
                                        <th scope="col">캐릭터</th>
                                        <th scope="col">KDA</th>
                                        <th scope="col">딜량</th>
                                        <th scope="col">피해량</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="display:none">
            <table id="matchInfoTemplate" class="table table-striped table-condensed">
                <thead class="thead-light">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">포지션</th>
                        <th scope="col">캐릭</th>
                        <th scope="col">닉</th>
                        <th scope="col">KDA</th>
                        <!-- <th scope="col">딜량</th>
                        <th scope="col">피해량</th> -->
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
</body>

</html>